<section class="footer-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo_content">
                    <a href="/">
                        <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/0ab5632a-806c-45d3-815b-9c1d7d40a5b2"
                            alt=""></a>
                </div>
                <p class="year-make">Ⓒ 2023 Akin BV</p>
                <p class="copy_rights">Copyright. All Rights Reserved.</p>
                <div class="social_media">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Our Services</h3>
                    <div class="footer_line"></div>
                    <a href="/rpa">Rpa Consultant</a>
                    <a href="/business">Business Management</a>
                    <a href="/soft_dev">Software Development</a>
                    <a href="/courses">Courses</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Contacts</h3>
                    <div class="footer_line"></div>
                    <a href="https://api.whatsapp.com/send?phone=59995166700">Telefon: +599 9 516 6700 </a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info.akin.co@gmail.com">Email: info.akin.co@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Navigate</h3>
                    <div class="footer_line"></div>
                    <a href="/home">Home</a>
                    <a href="/services">Services</a>
                    <a href="/aboutus">About Us</a>
                    <a href="/contactus">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>