<section class="footer-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo_content">
                    <a href="/">
                        <img src="https://user-images.githubusercontent.com/43387401/225178377-eab2134e-ff46-48f2-a277-95d57c30a189.png"
                            alt=""></a>
                </div>
                <p class="year-make">Ⓒ 2023 Akin BV</p>
                <p class="copy_rights">Copyright. All Rights Reserved.</p>
                <div class="social_media">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Our Services</h3>
                    <div class="footer_line"></div>
                    <a href="">Rpa Consultant</a>
                    <a href="">Project Management</a>
                    <a href="">Software Development</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Contacts</h3>
                    <div class="footer_line"></div>
                    <a href="">Telefon: +599 9 516 6700 </a>
                    <a href="">Email: akinco@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer_box">
                    <h3>Navigate</h3>
                    <div class="footer_line"></div>
                    <a href="/">Home</a>
                    <a href="">Services</a>
                    <a href="">About Us</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>