<div class="navb">
    <div class="row">
        <div class="col-lg-1">
            <div class="logo-cont">
                <img class="logo"
                    src="https://user-images.githubusercontent.com/43387401/225178377-eab2134e-ff46-48f2-a277-95d57c30a189.png"
                    alt="">
            </div>
        </div>
        <div class="col-lg-9 d-flex flex-row-reverse">
            <div class="nav-link d-flex align-items-center">
                <ul class="nav-horizontal">
                    <li><a class="one active" href="/">Home</a></li>
                    <li><a class="one" href="news.asp">Services</a></li>
                    <li><a class="one" href="contact.asp">About Us</a></li>
                    <li><a class="one" href="about.asp">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <a class="button_header" href="/login">Login</a>
        </div>
    </div>
</div>