<div class="nav_bar_con">
    <div class="navb">
         <button class="nav-button"></button>
        <div class="row">
            
            <div class="col-lg-1">
                <a href="https://akin-co-website.onrender.com/home" class="logo-cont">
                    <img class="logo"
                        src="https://github.com/Thethinker20/akin_main_website/assets/43387401/0ab5632a-806c-45d3-815b-9c1d7d40a5b2"
                        alt="">
                </a>
            </div>
            <div class="col-lg-9 d-flex flex-row-reverse">
                <div class="nav-link d-flex align-items-center">
                    <ul class="nav-horizontal">
                        <li><a class="nav_i one" href="/home">Home</a></li>
                        <li class="serve">
                            <a class="nav_i one" id="serv_h" href="/services">Services</a>
                            <ul class="nav_sub">
                                <a href="/soft_dev">Software Develop</a>
                                <a href="/rpa">Rpa Consultant</a>
                                <a href="/business">Business Management</a>
                                <a href="/courses">Courses</a>
                            </ul>
                        </li>
                        <li><a class="nav_i one" href="/aboutus">About Us</a></li>
                        <li><a class="nav_i one" href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 b_header">
                <a class="button_header" href="/contactus">Let's talk</a>
            </div>
        </div>
    </div>
</div>