<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title id="title"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://user-images.githubusercontent.com/43387401/227792516-aeb634a9-2adb-41a5-9289-b932e47ffe52.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    </link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/assets/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {{!--<link rel="stylesheet" href="css/assets/all-min.css"> --}}
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>

<body>
    <section class="main" id="main">
        {{>navbar}}
        {{{body}}}
        {{>footer}}
    </section>
    <div class="akin_loader" id="particles-js">
        <svg width="200" height="100" viewBox="0 0 1200 344" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="svg_logo">
<path id="A" d="M248.18 290.33L123.29 290.85L104 347.16L0 347.59L136.91 0.799911L231.79 0.409912L374.72 346L267.83 346.45L248.18 290.33ZM184.75 108.67L146.61 216.11L224.17 215.79L184.75 108.67Z" fill="#00053B"/>
<path id="I" d="M756.72 0.819908L855.07 0.409912L856.56 347.18L758.21 347.59L756.72 0.819908Z" fill="#00053B"/>
<path id="N" d="M1196.51 0.409912L1198 346.28L1117.72 346.62L976.94 159.5L977.75 347.2L883.69 347.59L882.19 1.71991L967.19 1.35991L1103.27 182.26L1102.48 0.799911L1196.51 0.409912Z" fill="#00053B"/>
<path id="k" d="M400.36 0.409912H498.6V347.59H400.36V0.409912Z" fill="#00053B"/>
<g id="K-1">
<path id="Vector" d="M731.09 2.33984H639.82C639.82 2.33984 622.15 3.82985 614.17 15.7898C606.19 27.7498 485.54 174 485.54 174L538.54 239.14L731.09 2.33984Z" fill="#FF7000"/>
<path id="Vector_2" d="M585.35 52.2C585.35 52.2 541.79 110.91 591.47 174C641.15 237.09 731.09 345.65 731.09 345.65H641.38C641.38 345.65 625.84 346.51 615.53 333.84L485.54 174L585.35 52.2Z" fill="#FF7E19"/>
</g>
</g>
</svg>

    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.js"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js'></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src='js/main.js'></script>