<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title id="title"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://user-images.githubusercontent.com/43387401/227792516-aeb634a9-2adb-41a5-9289-b932e47ffe52.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    </link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/assets/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {{!--<link rel="stylesheet" href="css/assets/all-min.css"> --}}
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>

<body>
    <section class="main" id="main">
        {{>navbar}}
        {{{body}}}
        {{>footer}}
    </section>
    <div class="akin_loader" id="particles-js">
        <svg width="200" height="100" viewBox="0 0 1200 344" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="svg_logo">
                <path id="A"
                    d="M242.06 287.48L120.25 288L101.46 342.93L0 343.34L133.54 5.08996L226.08 4.70996L365.49 341.82L261.24 342.25L242.06 287.48ZM180.2 110.3L143 215.1L218.65 214.78L180.2 110.3Z"
                    fill="#00053B" />
                <path id="I" d="M729.48 2.61021L825.41 2.22021L826.86 339.9L730.93 340.3L729.48 2.61021Z"
                    fill="#00053B" />
                <path id="N"
                    d="M1198.54 0.660156L1200 338.34L1121.7 338.67L984.38 156L985.17 339.26L893.43 339.64L892 1.94016L974.87 1.59015L1107.59 178.21L1106.8 1.00015L1198.54 0.660156Z"
                    fill="#00053B" />
                <path id="k" d="M396.1 5H491.93V341.67H396.1V5Z" fill="#00053B" />
                <g id="K-1">
                    <path id="Vector"
                        d="M718.69 5.57031H629.69C629.69 5.57031 612.45 7.02032 604.69 18.6903C596.93 30.3603 479.19 173 479.19 173L530.86 236.54L718.69 5.57031Z"
                        fill="#FF7000" />
                    <path id="Vector_2"
                        d="M576.54 54.21C576.54 54.21 534.06 111.48 582.54 173.03C631.02 234.58 718.72 340.43 718.72 340.43H631.22C631.22 340.43 616 341.27 606 328.91L479.19 173L576.54 54.21Z"
                        fill="#FF7000" />
                </g>
            </g>
        </svg>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.js"></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js'></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src='js/main.js'></script>