<section class="header-content">
    <div class="row">
        <div class="col-lg-7">
            <div class="p-txt">
                <div class="p-txt-line"></div>
                <div class="p-txt-text">Work With Akin Consultant</div>
            </div>
            <div class="main-txt">
                <span>Build</span>, automate <br>and manage your <span>future</span>
            </div>
            <div class="under-txt">Where we believe in your future, helping you, create the next future technology for
                your company or business.</div>
            <div class="lines pt-4 pb-4">
                <div class="line"></div>
            </div>
            <div class="h-button pt-3">
                <a href="#"><span>Start Your Future</span></a>
            </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
</section>