<section class="header-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="header_b_cont">
                    <div class="p-txt">
                        <div class="p-txt-line"></div>
                        <div class="p-txt-text">Work With Akin Consultant</div>
                    </div>
                    <div class="main-txt">
                        <span>Build</span>, automate <br>and manage your <span>future</span>
                    </div>
                    <div class="under-txt">Where we believe in your future, helping you, create the next future
                        technology
                        for
                        your company or business.</div>
                    <div class="lines pt-4 pb-4">
                        <div class="line"></div>
                    </div>
                    <div class="h-button pt-3">
                        <a href="/contactus"><span>Start Your Future</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="header_right_2">
                    <div class="header_r_i"></div>
                    <div class="header_r_back1"></div>
                    <div class="header_r_back2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- qoute --}}
<section class="qoute_section">
    <div class="qoute_content">
        <div class="qoute_txt">
            <h3><span class="qoute_">"</span>What new technology does is create new opportunities to
                do a job that customers want done.<span class="qoute_f">"</span></h3>
        </div>
        <p>Tim O’Reilly.</p>
    </div>
</section>
{{!-- products --}}
<section class="product_section">
    <div class="container">
        <div class="prod_content">
            <div class="row d-flex justify-content-end">
                <div class="col-lg-9">
                    <h3 class="ps_txt">Different Products and <span class="text_color_o">Services</span> For Your
                        Business</h3>
                </div>
                <div class="col-lg-3" style="padding-top: 25px;">
                    <a class="button_add" href="/service">All Service<i class="fa-solid fa-circle-plus"
                            style="padding-left: 10px; font-size:22px;color:white"></i></a>
                </div>
            </div>
            <div class="row" style="padding-top: 70px;">
                <div class="col-lg-3"
                    style="display:flex;display: flex;justify-content: center;align-items: center;flex-direction:column;">
                    <figure class="shape-box shape-box_half">
                        <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                            alt="">
                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                        <figcaption>
                            <div class="show-cont">
                                <h3 class="card-no">01</h3>
                                <h4 class="card-main-title">Software Development</h4>
                            </div>
                            <p class="card-content">Custom website, software applications, mobile app design.
                            </p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </figcaption>
                        <span class="after"></span>
                    </figure>
                </div>
                <div class="col-lg-3"
                    style="display:flex;display: flex;justify-content: center;align-items: center;flex-direction:column;">
                    <figure class="shape-box shape-box_half">
                        <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                            alt="">
                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                        <figcaption>
                            <div class="show-cont">
                                <h3 class="card-no">02</h3>
                                <h4 class="card-main-title">Rpa Consultant</h4>
                            </div>
                            <p class="card-content">RPA consultant help your organizations to design.
                            </p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </figcaption>
                        <span class="after"></span>
                    </figure>
                </div>
                <div class="col-lg-3"
                    style="display:flex;display: flex;justify-content: center;align-items: center;flex-direction:column;">
                    <figure class="shape-box shape-box_half">
                        <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                            alt="">
                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                        <figcaption>
                            <div class="show-cont">
                                <h3 class="card-no">03</h3>
                                <h4 class="card-main-title">Project Management</h4>
                            </div>
                            <p class="card-content">Planning, leading and controlling resources within your organization
                            </p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </figcaption>
                        <span class="after"></span>
                    </figure>
                </div>
                <div class="col-lg-3"
                    style="display:flex;display: flex;justify-content: center;align-items: center;flex-direction:column;">
                    <figure class="shape-box shape-box_half">
                        <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                            alt="">
                        <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
                        <figcaption>
                            <div class="show-cont">
                                <h3 class="card-no">04</h3>
                                <h4 class="card-main-title">Courses</h4>
                            </div>
                            <p class="card-content">Learn and develop your self with the different courses we have
                                available</p>
                            <a href="#" class="read-more-btn">Read More</a>
                        </figcaption>
                        <span class="after"></span>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="cel_right">
    <img src="https://user-images.githubusercontent.com/43387401/227069974-3dc6d0fb-9100-4dc7-a0da-024a0fc406b7.png"
        alt="">
</div>
<section class="misvis">
    <img class="glode_back"
        src="https://user-images.githubusercontent.com/43387401/226220457-3dcf4622-36b9-4fc7-a05c-9b43decf4316.png"
        alt="">
    <div class="container">

        <div class="row" style="position: relative;">
            <div class="col-lg-7">
                <img class="mis_img"
                    src="https://github.com/Thethinker20/akin_main_website/assets/43387401/cf546655-1bb0-4ddf-9329-1c950aaa8d90"
                    alt="">
            </div>
            <div class="col-lg-5">
                <div class="mis_t_content">
                    <h3>The Fastest Way To Achieve Your Business <span class="text_color_o">Success</span></h3>
                    <p>With a mission and vision to help Curacao move fast and efficient in the technology industry.
                    </p>
                    <div class="lines pt-3 pb-4">
                        <div class="line"></div>
                    </div>
                    <h5>Mission</h5>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="bullet_point"></div>
                        </div>
                        <div class="col-md-8">
                            <p class="mv_t">Provide businesses with smart and reliable solution to realize there full
                                potential in this technological era.</p>
                        </div>
                    </div>
                    <h5>Vision</h5>
                    <div class="row pb-3">
                        <div class="col-md-1">
                            <div class="bullet_point"></div>
                        </div>
                        <div class="col-md-8">
                            <p class="mv_t">To be the leading one company, building the path to facilitate digital
                                transformation by getting the best...</p>
                        </div>
                    </div>
                    <a class="button_add_2" style="position:relative;top:20px;" href="/service">Our Goal<i
                            class="fa-solid fa-circle-plus" style="padding-left: 10px; font-size:22px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="r_automation">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="row process-bg">
                    <div class="col-lg-6 col-md-6 pl-10 pr-10">
                        <div class="process-single-box">
                            <div class="process-number">
                                <span>1</span>
                            </div>
                            <div class="process-title">
                                <h3><span>Save </span>Time</h3>
                                <p>Digital transformation fast and cost-effective.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pl-10 pr-10">
                        <div class="process-single-box upper">
                            <div class="process-number">
                                <span>2</span>
                            </div>
                            <div class="process-title">
                                <h3> Best <span> Experience </span></h3>
                                <p>Free to spend time on work with better returns</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pl-10 pr-10">
                        <div class="process-single-box upper1">
                            <div class="process-number">
                                <span>3</span>
                            </div>
                            <div class="process-title">
                                <h3> Ensure <span> Compliance </span></h3>
                                <p>Improve compliance by following the exact process</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 pl-10 pr-10">
                        <div class="process-single-box upper2">
                            <div class="process-number">
                                <span>4</span>
                            </div>
                            <div class="process-title">
                                <h3> User <span> Experiences </span></h3>
                                <p>Robots handling tasks and user getting better service</p>
                            </div>
                        </div>
                    </div>
                    <div class="process-shape">
                        <div class="process-thumb">
                            <img src="https://user-images.githubusercontent.com/43387401/228122286-4ab8da02-efe3-4f8e-9809-a35b007b16f7.png"
                                alt="">
                        </div>
                        <div class="process-thumb1">
                            <img src="https://user-images.githubusercontent.com/43387401/228122371-c19aefbb-b2b7-4a0a-ad24-fafecbf58f33.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 pl-50">
                <div class="itsoft-section-title">
                    <h2> Start with The New </h2>
                    <h2>Robotic <span> Automation </span></h2>
                </div>
                <div class="lines style-three pt-30 pb-10">
                    <div class="line"></div>
                </div>
                <div class="dreamit-smart-title">
                    <h4> Know what is <span>Robotic</span> Automation</h4>
                    <p>Delivering exceptional IT consulting services with a customer-centric approach, our business is
                        committed to leveraging the latest technologies and industry best practices to drive innovation
                        and help our clients achieve their business goals with greater efficiency and effectiveness.</p>
                </div>
                <div class="about-button">
                    <a href="#"> More About <i class="bi bi-plus"></i></a>
                </div>
            </div>
        </div>
        {{!-- <div class="row pt-50">
            <div class="col-lg-12">
                <div class="dreamits-top-title">
                    <h3> More Then 5K+ Brands with work IT-Soft</h3>
                </div>
            </div>
        </div>
        <div class="row pt-30"></div> --}}
    </div>
</section>


<div class="scroll-area">
    <div class="top-wrap">
        <div class="go-top-btn-wraper">
            <div class="go-top go-top-button active">
                <i class="fas fa-arrow-up"></i>
                <i class="fas fa-arrow-up"></i>
            </div>
        </div>
    </div>
</div>