@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body {
    font-family: 'Fira Sans';
    color: #686868;
    overflow-x: hidden;
}

.header_home {
    width: 100%;
    height: 100vh;
    background: rgba(1, 10, 59, 0.93);
    border-radius: 0px;
}

.main {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.navb {
    position: relative;
    width: 73%;
    height: 60px;
    top: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.36);
}

.nav_bar_con {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.nav-link {
    width: 60%;
}

.nav-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-horizontal li {
    float: left;
}

.nav-button {
    display: none;
    margin-right: 2rem;
    padding: 0;
    outline: none;
    border: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
}

.active-n {
    color: #F06E30 !important;
    border-bottom: 5px solid #F06E30;
}

.nav-horizontal li .nav_i {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-weight: 300;
}

.nav-horizontal li .nav_i:hover {
    color: #F06E30 !important;
}

/* 
.container {
    padding-left: 70px;
    padding-right: 70px;
} */



.nav_sub {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 26%;
    margin-top: 2px;
    flex-direction: column;
    align-items: flex-start;
}

.serve:hover .nav_sub {
    display: flex;
}

.nav_sub a {
    padding: 13px 16px;
    text-decoration: none;
    font-weight: 400;
    border-bottom: none;
    background: #f06e30;
    color: white;
    width: 90%;
    font-size: 15px;
    border-bottom: 0.5px solid #00053b;
    border-left: 7px solid #00053b;
}

.nav_sub a:hover {
    background: #010A3B;
    color: white;
}

.logo-cont {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.logo {
    width: 48.05px;
    height: 51px;
}

.button_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #F06E30;
    border: solid 1px #F06E30;
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
}

.button_header:hover {
    background: #010A3B;
    color: white;
    text-decoration: none;
}

/* header content */
.header-content {
    width: 100%;
    height: 850px;
    background: url('https://user-images.githubusercontent.com/43387401/225176120-466d132f-c2ab-49d5-bec6-6a24580ff157.png');
    color: #FCFCFC;
}

.header_b_cont {
    position: relative;
    top: 230px;
}

.p-txt {
    display: flex;
}

.p-txt-line {
    position: relative;
    top: 15px;
    width: 45px;
    height: 0px;
    border: 1.5px solid #F06E30;
}

.p-txt-text {
    padding-left: 12px;
    font-weight: 400;
    font-size: 17px;
}

.main-txt {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 65px;
    padding-top: 30px;
}

.main-txt span {
    color: #F06E30;
}

.under-txt {
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #AEAEAE;
    padding-top: 26px;
}

.style-three.lines .line {
    position: relative;
    width: 103%;
    height: 1px;
    background-color: #E0E0E0;
    overflow: hidden;
    z-index: 5;
}

.style-three.lines .line::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 35px;
    top: 0;
    left: 0px;
    background-color: #F06E30;
    -webkit-animation: moveLeftBounces-two 35s linear infinite;
    animation: moveLeftBounces-two 32s linear infinite;
    overflow: hidden;
}


.lines .line {
    position: relative;
    width: 93%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    z-index: 5;
}

.lines .line:nth-child(1)::after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.lines .line::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 35px;
    top: 0;
    left: 0px;
    background-color: #F06E30;
    -webkit-animation: moveLeftBounces-two 35s linear infinite;
    animation: moveLeftBounces-two 35s linear infinite;
    overflow: hidden;
}

.h-button a {
    display: flex;
    position: relative;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    color: white;
    background: #F06E30;
    width: 320px;
    height: 53px;
    border-radius: 50px;
    border: 3px solid #F06E30;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.h-button a span {
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
}

.h-button a:hover .h-button a span {
    color: white;
}

.h-button a::after,
.h-button a::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background: #010A3B;
    z-index: -1;
}

.h-button a::before {
    /*   background: blue; */
    transform: translateX(-100%);
    z-index: 1;
}

.h-button a:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
}

.h-button a::after {
    z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
}

.h-button a:hover:after {
    opacity: 1;
    transform: translateX(0);
    transition: transform 350ms 360ms ease;
}

.header_right_2 {
    position: relative;
    top: 180px;
}

.header_r_i {
    position: relative;
    width: 510px;
    height: 490px;
    border-radius: 50%;
    background: url('https://github.com/Thethinker20/akin_main_website/assets/43387401/a6ba46d7-c3e7-4098-9dc8-630a158a0739');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}

.header_r_back1 {
    position: absolute;
    width: 430px;
    height: 447px;
    background: url(https://user-images.githubusercontent.com/43387401/228662912-dc2f749a-b879-4589-a8a1-b8336e4bfcc0.png);
    top: 166px;
    background-size: cover;
    left: -20px;
}

.header_r_back2 {
    position: absolute;
    width: 469px;
    height: 458px;
    background: url(https://user-images.githubusercontent.com/43387401/228662916-3c768dc4-85f6-4da0-b215-c8f08b6eab8b.png);
    top: 112px;
    left: 40px;
    transform: rotate(6deg);
    background-size: cover;
}


/* qoute section */
.qoute_section {
    width: 100%;
    height: 40vh;
    background: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.qoute_content {
    width: 60%;
}

.qoute_txt {
    display: flex;
    flex-direction: column;
}

.qoute_ {
    position: relative;
    font-family: 'Playball';
    font-size: 91px;
    color: #FF9600;
    top: 20px;
}

.qoute_f {
    position: relative;
    font-family: 'Playball';
    font-size: 91px;
    color: #FF9600;
    top: 35px;
}

.qoute_section h3 {
    font-weight: 300;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
}

.qoute_content p {
    width: 66%;
    text-align: end;
    padding-top: 9px;
    font-size: 12px;
}

.text_color_o {
    color: #F06E30;
}

/* service/products */

.product_section {
    width: 100%;
    height: 100vh;
    background: url('https://user-images.githubusercontent.com/43387401/226195842-5e1a848a-762d-4f1f-89aa-9e7b9d4f4dc2.png');
}

.prod_content {
    padding-top: 105px;
}

.ps_txt {
    width: 70%;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #060D3A;
}


.button_add {
    background: #FF7000;
    border-radius: 550px;
    color: white;
    text-decoration: none;
    padding: 18px 71px 18px 52px;
}

.button_add:hover {
    background: #010A3B;
    color: #F06E30;
    text-decoration: none;
}

.button_add_2 {
    background: #FF7000;
    border-radius: 550px;
    color: white;
    text-decoration: none;
    padding: 18px 71px 18px 52px;
}

.button_add_2:hover {
    background: #ffffff;
    color: #F06E30;
    text-decoration: none;
}



/* .p-card-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 85px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;
}

.p-card-c img {
    height: 36px;
}

.p-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    width: 299px;
    height: 386px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 386px;
}

.p-card-content:hover {
    background: #F06E30;
    color: #FCFCFC;
}

.card_container h3 {
    font-size: 22px;
    font-weight: 500;
}

.card_line {
    width: 48px;
    height: 0px;
    border: 1px solid #F06E30;
    margin-top: 15px;
    margin-bottom: 40px;
}

.card_number {
    position: absolute;
    padding-top: 10px;
    font-weight: 800;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.1);
}

.card_txt {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.07em;
}

.card_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
}

.fa-plus{
    color: #F06E30;
}

.card_button:hover{
    background: #010A3B;
    color: white;
} */

.shape-box {
    display: inline-block;
    position: relative;
    z-index: 1;
    max-width: 500px;
    height: 430px;
    margin: 30px 10px 30px;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .12);
    overflow: hidden
}

.shape-box_half {
    overflow: hidden;
    text-align: left;
}

.shape-box_half:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(53.5deg);
    transform-origin: top left;
    transition: \transform .4s;
    background: #fff;
    z-index: 1;
}

.shape-box>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-black {
    background-color: #010A3B;
}

.shape-box_half figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px 30px;
    transition: \transform .4s;
    transform: translateY(100%);
    z-index: 3;
}

.shape-box_half figcaption .show-cont {
    position: absolute;
    bottom: calc(100% + 30px);
    left: 30px;
    right: 30px;
    transition: bottom .4s;
}

.card-no {
    font-size: 36px;
    color: #F06E30;
    padding: 0;
    margin: 10px 0;
}

.card-main-title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #292b2c;
}

.card-content {
    color: #9f9f9f;
    margin-top: 20px;
    line-height: 22px;
    font-size: 15px;
}

.read-more-btn {
    border: 2px solid #F06E30;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #F06E30;
    color: #fff;
    border-radius: 2px;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 50px;
}

.read-more-btn:hover {
    background: transparent;
    color: #010A3B;
    border: 2px solid #010A3B;
}

.shape-box_half>.after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F06E30;
    opacity: 0;
    transition: opacity .4s;
}

/*On hover*/
.shape-box_half:hover:before {
    transform: skewY(20deg);
}

.shape-box_half:hover figcaption {
    transform: translateY(0);
}

.shape-box_half:hover figcaption .show-cont {
    bottom: 100%;
}

.shape-box_half:hover>.after {
    opacity: 1;
}

/* mision and vision */
.misvis {
    width: 100%;
    height: 85vh;
    background: #010A3B;
    color: #FCFCFC;
}

.glode_back {
    position: absolute;
    width: 800px;
    animation: globe_spin 20s ease-in-out infinite;
    animation-timing-function: linear;
    transform-origin: center;
}

.dots_animation {
    position: absolute;
    width: 63%;
    float: right;
    left: 560px;
    padding-top: 50px;
}

.dots_animation img {
    height: 100px;
}

.dots_3 {
    float: right;
    transform: rotate(180deg);
}

.mis_img {
    width: 630px;
    height: 430px;
    border-radius: 160px 0px 10px 10px;
    margin-top: 115px;
}

.akin_loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(243, 243, 243);
    overflow: hidden;
}

svg {
    position: absolute;
    z-index: 1;
}

#A {
    animation: loading-text 2s ease-in-out;
}

#k {
    animation: loading-text 2.5s ease-in-out;
}

#K-1 {
    position: absolute;
    z-index: 1;
    animation: right_left 2s ease-in-out;
}

#I {
    animation: loading-text 3s ease-in-out;
}

#N {
    animation: loading-text 3.5s ease-in-out;
}

.mis_t_content {
    margin-top: 115px;
    height: 430px;
    width: 530px;
}

.mis_t_content h3 {
    font-weight: 800;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.2em;
    padding-top: 22px;
}

.mis_t_content p {
    width: 90%;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.67);
    padding-top: 15px;
}

.bullet_point {
    width: 14px;
    height: 13px;
    background: #F06E30;
    border-radius: 50%;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 12px;
}

.mv_t {
    width: 413px !important;
    padding-top: 0px !important;
}

.arrow {
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
}

.arrow--top {
    left: -5em;
}

.arrow--bottom {
    right: 3em;
}

.cel_right {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
}

.cel_right img {
    height: 130px;
    position: relative;
    top: -50px;
    right: 50px;
    animation: floating 5s ease-in-out infinite;
}

/* robotic automation */

.r_automation {
    background: url('https://user-images.githubusercontent.com/43387401/228121251-43a306af-8f5a-4e8f-a0bd-51869622926a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0 95px;
}

.row.process-bg {
    position: relative;
    z-index: 1;
}

.process-single-box {
    padding: 67px 22px 15px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9019607843137255);
    filter: drop-shadow(0px 10px 30px rgba(116, 100, 95, 0.2));
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.upper.process-single-box {
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.upper1.process-single-box {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
    padding-bottom: 32px;
}

.upper2.process-single-box {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: 32px;
}

.process-single-box:before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0%;
    height: 0%;
    background: url('https://user-images.githubusercontent.com/43387401/228109815-861cb3c8-c6b0-42c8-9387-0c859bccd4f0.png');
    transition: .7s;
    border-radius: 3px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.process-number span {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Fira Sans';
    line-height: 26px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.process-number span:before {
    position: absolute;
    content: "";
    left: -24px;
    top: -15px;
    width: 60px;
    height: 55px;
    background: url('https://user-images.githubusercontent.com/43387401/228109805-d2cbefd2-7fc9-4200-b3c7-c97b137a958e.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: .5s;
}

.process-number span:after {
    position: absolute;
    content: "";
    left: -24px;
    top: -15px;
    width: 60px;
    height: 55px;
    background: url('https://user-images.githubusercontent.com/43387401/228109806-eb8ddff5-7b8b-40c3-ac38-01f776490632.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.process-title h3 {
    font-size: 22px;
    color: #e65a19;
    font-weight: 600;
    font-family: "Fira Sans";
    padding: 28px 0 8px;
    transition: .5s;
}

.process-title span {
    color: #232323;
    transition: .5s;
}

.process-title p {
    transition: .5s;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-30 {
    padding-top: 30px;
}

/*process right*/
.dreamit-smart-title h4 {
    font-size: 22px;
    font-weight: 500;
    padding: 4px 0 14px;
}

.dreamit-smart-title span {
    color: #F06E30;
}

.process-area .about-button a {
    margin-top: 17px;
}

/*all process hover*/
.process-single-box:hover:before {
    width: 100%;
    opacity: 1;
    height: 100%;
}

.process-single-box:hover .process-number span:after {
    opacity: 1;
}

.process-single-box:hover .process-title span,
.process-single-box:hover {
    color: #fff;
}

.pl-50 {
    padding-left: 50px;
}

.pt-50 {
    padding-top: 50px;
}

/*procees shape*/
.process-thumb {
    position: absolute;
    left: 145px;
    bottom: 145px;
}

.process-thumb1 {
    position: absolute;
    left: -250px;
    top: 0px;
    animation: moveLeftBounce 4s linear infinite;
}

.itsoft-section-title h2 {
    font-size: 42px;
    margin: 0;
    color: #000000;
    font-weight: 700;
}

.itsoft-section-title span {
    color: #F06E30;
}

.itsoft-section-title p {
    opacity: 70%;
    padding: 13px 0 0;
}

/*style two*/
.itsoft-section-title h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #F06E30;
    margin: 0 0 16px;
    position: relative;
    left: 53px;
}

.itsoft-section-title h5:before {
    position: absolute;
    content: "";
    top: 10px;
    left: -53px;
    height: 2px;
    width: 41px;
    background: #F06E30;
}

/*center before after*/
.upper.itsoft-section-title h5 {
    left: 0px;
}

.upper.itsoft-section-title h5:before {
    position: absolute;
    content: "";
    top: 10px;
    left: -165px;
    right: 0;
    margin: auto;
    height: 2px;
    width: 41px;
    background: #F06E30;
}

.upper.itsoft-section-title h5:after {
    position: absolute;
    content: "";
    top: 10px;
    left: 0px;
    right: -165px;
    margin: auto;
    height: 2px;
    width: 41px;
    background: #F06E30;
}

.dreamit-smart-title h4 {
    font-size: 22px;
    font-weight: 500;
    padding: 4px 0 14px;
}

.process-area .about-button a {
    margin-top: 17px;
}

.about-button a {
    padding: 9px 14px 14px 42px;
    font-family: 'Fira Sans';
    font-weight: 500;
    color: #fff;
    background: #F06E30;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #F06E30;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 38px;
}

.about-button a:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #fff;
    border-radius: 30px;
    transition: .5s;
}

.about-button a i {
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 25px;
    text-align: center;
    background: #fff;
    color: #F06E30;
    display: inline-block;
    margin-left: 14px;
    position: relative;
    top: 3px;
    transition: .5s;
}

.about-button a:hover {
    color: #F06E30;
    text-decoration: none;
}

.about-button a:hover:before {
    width: 100%;
    left: 0;
}

.about-button a:hover i {
    background: #F06E30;
    color: #fff;
}

.process-area .about-button a {
    margin-top: 17px;
}

.fa-circle-plus::before {
    content: "\f4fe";
}

.fa-solid::before,
[class^="fa-"]::before,
[class*=" fa-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dreamits-top-title h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0 0 44px;
}

.dreamits-top-title h3:before {
    position: absolute;
    content: "";
    left: -15px;
    top: 9px;
    height: 2px;
    width: 380px;
    background-color: rgba(35, 35, 35, 0.10196078431372549);
}

.dreamits-top-title h3:after {
    position: absolute;
    content: "";
    right: -15px;
    top: 9px;
    height: 2px;
    width: 380px;
    background-color: rgba(35, 35, 35, 0.10196078431372549);
}

/* footer */
.scroll-area {
    position: relative;
    z-index: 999;
}

.scroll-area .go-top {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 30px;
    color: #ffffff;
    background-image: -moz-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
    background-image: -webkit-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
    z-index: 9999;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.9s ease-out 0s;
    -moz-transition: all 0.9s ease-out 0s;
    border-radius: 10px;
}

.scroll-area .go-top i {
    position: absolute;
    top: 50%;
    left: -4px;
    right: 0;
    margin: 0 auto;
    font-size: 15px;
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
}

.scroll-area .go-top i:last-child {
    opacity: 0;
    visibility: hidden;
    top: 60%;
}

.scroll-area .go-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, #00132b 0%, #00132b 100%);
    background-image: -ms-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    ;
    border-radius: 100%;
}

.scroll-area .go-top:focus,
.scroll-area .go-top:hover {
    color: #fff;
}

.scroll-area .go-top:focus::before,
.scroll-area .go-top:hover::before {
    opacity: 1;
    visibility: visible;
}

.scroll-area .go-top:focus i:first-child,
.scroll-area .go-top:hover i:first-child {
    opacity: 0;
    top: 0;
    visibility: hidden;
}

.scroll-area .go-top:focus i:last-child,
.scroll-area .go-top:hover i:last-child {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.scroll-area .go-top.active {
    top: 95%;
    -webkit-transform: translateY(-98%);
    -moz-transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    right: 30px;
    border-radius: 100%;
}

.top-wrap {
    position: relative;
}

.top-wrap .go-top-button {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    top: 3px;
    z-index: 1;
    background: #F06E30;
    justify-content: center;
    align-items: center;
}

.top-wrap .go-top-button i {
    font-size: 25px;
    font-weight: 700;
    padding-left: 4px;
    color: #fff;
}

.top-wrap .go-top-button::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 45px;
    height: 45px;
    -webkit-animation: ripple 1.6s ease-out infinite;
    -moz-animation: ripple 1.6s ease-out infinite;
    opacity: 0;
    background-image: -moz-linear-gradient(0deg, #69DDCC 0%, #69DDCC 100%);
    background-image: -webkit-linear-gradient(0deg, #fb8a42 0%, #fb8a42 100%);
    border-radius: 100%;
}

.top-wrap .go-top-button:hover {
    background-color: #222;
    color: #fff;
}

/* footer */
.footer-home {
    width: 100%;
    height: 45vh;
    background: #010A3B;
}

.logo_content {
    width: 90px;
    height: 140px;
    background: #FCFCFC;
    border-radius: 0px 0px 40px 40px;
}

/* .logo_content:hover{
    transform: rotateY(180deg);
    transition: 2s;
	transform-style: preserve-3d;
	position: relative;
} */

.logo_content img {
    position: relative;
    height: 54px;
    margin-top: 68px;
    margin-left: 21px;
}

.year-make {
    padding-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.copy_rights {
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.64);
    margin-top: -10px;
}

.social_media {
    display: flex;
}

.social_media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
}

.social_media a:nth-child(1) {
    background: #207DFF;
}

.social_media a:nth-child(2) {
    background: #D5397E;
    margin-left: 5px;
}

.social_media a:nth-child(3) {
    background: #0077B5;
    margin-left: 5px;
}

.social_media a:nth-child(4) {
    background: #F70102;
    margin-left: 5px;
}

.social_media a:hover {
    background: transparent;
}

.footer_box {
    font-family: 'Poppins';
    padding-top: 80px;
}

.footer_box h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}

.footer_line {
    width: 56px;
    height: 0px;
    border: 1.5px solid #F06E30;
    margin-top: 14px;
    margin-bottom: 14px;
}

.footer_box a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
    margin-top: 12px;
    display: block;
    text-decoration: none;
}

.footer_box a:hover {
    color: white;
}

/* section contactus */
.cont_header {
    width: 100%;
    height: 80vh;
    background: url('https://user-images.githubusercontent.com/43387401/228988973-fe60d5a2-e655-4c35-9e4e-d824a8701114.png');
    background-position: center;
    background-size: cover;
}

.cont_overlay {
    background: rgba(0, 0, 0, 0.5);
    height: inherit;

    display: flex;
    flex-direction: column;
}

.cont_overlay h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 44px;
    color: #FFFFFF;
}

.header_txt p {
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 10px;
}

.cont_overlay p span {
    color: #d1651a;
}

.header_boxC {
    display: flex;
    width: 100%;
    height: 285px;
    justify-content: end;
    align-items: flex-end;
}

.header_box {
    width: 502px;
    height: 60px;
    background: #F06E30;
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.header_box p {
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 80px;
}

.contact_form {
    width: 100%;
    height: 100vh;
    background: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_cont {
    width: 68%;
    height: 70vh;
}

.cont_form {
    padding-top: 55px;
}

.cont_form_box {
    width: 100%;
    height: 556px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px 1px rgba(0, 0, 0, 0.08);
    padding: 70px 50px;
}

.cont_form_box h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #060D3A;
}

.input_form {
    padding: 9px 17px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 14px;
}

.input_form:hover {
    border: 1px solid #d1661aab;
}

.submit_cont {
    width: 100%;
    margin-top: 50px;
    background: #00053B;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    height: 37px;
    border: 0px;
    letter-spacing: 0.11em;
}

.submit_cont:hover {
    background: #d1651a;
    color: white;
}

.fa-paper-plane {
    position: relative;
    padding-left: -29px;
    padding-right: 11px;
    font-size: 14px;
    color: #d1651a;
}

.cont_form_detail {
    width: 100%;
    height: 556px;
    background: #00132b;
    box-shadow: 0px 0px 36px 1px rgba(0, 0, 0, 0.08);
    padding: 80px 60px;
}

.icon_box_d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 57px;
    background: #d1651a;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.icon_box_d:hover {
    background: #ffffff;
    color: #d1651a;
}

.detail_txt {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 7px;
}

.detail_p {
    margin-top: -4px;
    font-size: 14px;
}

.modal_body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Fira sans';
    font-weight: 300;
    background: #0000006a;
    display: none;
    animation: fadeIn 1.5s ease-in-out;
}

.modalView {
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 40px 20px;
    font-size: 1.2rem;
    -webkit-box-shadow: -1px 2px 30px -8px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: -1px 2px 30px -8px rgba(0, 0, 0, 0.62);
    box-shadow: -1px 2px 30px -8px rgba(0, 0, 0, 0.62);
}

.modalView>.modalView__content {
    color: black;
    font-weight: 600;
}

.modalView>.modalView__content.centered {
    text-align: center;
}

.modalView__content h2 {
    font-size: 1.8rem;
    padding-bottom: 10px;
    padding-top: 15px;
    font-weight: 400;
    line-height: 38px;
}

.modalView__content h6 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 25px;
}



@media (max-width: 768px) {
    .navb {
        top: 0px;
        width: 100%;
        display: flex;
    }

    .nav_bar_con {
        height: 60px;
        position: fixed;
        top: 0;
        overflow: hidden;
    }

    .logo-cont {
        justify-content: flex-end;
        padding-left: 230px;
    }

    .logo {
        width: 42px;
        height: 42px;
    }

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 35px;
    }

    .b_header {
        display: none;
        opacity: 0;
    }

    .nav-link {
        position: fixed;
        /* top: 5rem; */
        left: -50%;
        flex-direction: column;
        padding: 3rem;
        width: 12rem;
        height: calc(51vh - 5rem);
        background: #FFFFFF;
        transition: 0.5s ease;
    }

    /* show class will make .menu-container slides in */
    .show {
        left: 0px;
    }

    .nav-horizontal {
        width: 135px;
    }

    .active-n {
        color: black;
        border-bottom: none;
    }

    .nav-horizontal li .nav_i:hover {
        transition: .2s;
        transform: translateX(12px);
    }

    .header_b_cont {
        top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-txt-line {
        top: 9px;
    }

    .p-txt-text {
        font-size: 13px;
    }

    .main-txt {
        font-size: 45px;
        line-height: 58px;
        text-align: center;
    }

    .under-txt {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        width: 90%;
    }

    .header_right_2 {
        top: 230px;
    }

    .header_r_i {
        width: auto;
        height: 340px;
    }

    .header_r_back1 {
        width: 0px;
        height: 0px;
    }

    .header_r_back2 {
        width: 0px;
        height: 0px;
    }

    .lines {
        width: 30%;
    }

    .lines .line {
        width: 100%;
    }

    .qoute_section {
        height: 50vh;
        align-items: flex-end;
    }

    .qoute_content {
        width: 80%;
    }

    .qoute_section h3 {
        font-size: 20px;
        line-height: 27px;
    }

    .qoute_ {
        font-size: 48px;
        top: 11px;
        left: -2px;
    }

    .qoute_f {
        position: relative;
        font-family: 'Playball';
        font-size: 48px;
        color: #FF9600;
        top: 10px;
    }

    .ps_txt {
        width: 93%;
        font-size: 36px;
        line-height: 37px;
    }

    .shape-box {
        height: 370px;
    }

    .product_section {
        height: 2104px;
    }

    .misvis {
        height: 100vh;
    }

    .mis_img {
        width: 340px;
        height: 215px;
        border-radius: 104px 0px 10px 10px;
        margin-top: 41px;
        margin-left: 13px;
    }

    .mis_t_content {
        margin-top: 0px;
        height: 441px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mis_t_content h3 {
        font-size: 23px;
        line-height: 29px;
        text-align: center;
    }
    .mis_t_content p {
        width: 85%;
        text-align: center;
    }
    .bullet_point {
        display: none;
        opacity: 0;
    }
    .mv_t{
        width: 100% !important;
    }

    .glode_back {
        width: 329px;
        margin-top: 390px;
    }

    .process-thumb {
        left: 26px;
    }

    .footer-home {
        height: 100%;
        padding-left: 26px;
    }
    .footer_box {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .nav_sub {
        width: 95%;
    }
    .contact_cont {
        width: 86%;
        height: 80vh;
    }
    .cont_form_detail {
        display: none;
    }
    .cont_form_box {
        height: 635px;
        width: 97%;
    }
}


@keyframes ripple {

    0%,
    35% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
    }
}


@keyframes moveLeftBounce {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes floating {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes right_left {
    0% {
        transform: translateX(500px);
        opacity: 0
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes loading-text {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }

    50% {
        transform: translateY(0px);
        opacity: 1;
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes globe_spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes moveLeftBounces-two {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(585px);
        transform: translateX(585px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}