.soft_back {
    width: 100%;
    height: 80vh;
    background: url('https://user-images.githubusercontent.com/43387401/233864020-371abd86-3a8d-4f3a-bf71-fad4cf367ed4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.soft_overflow {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
}

.soft_header {
    width: 100%;
    height: 54vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.soft_header h3 {
    font-weight: 600;
    font-size: 52px;
    line-height: 44px;
    color: #FFFFFF;
}

.soft_header p {
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    color: #FFFFFF;
}

.soft_box_cont {
    display: flex;
    width: 100%;
    height: 205px;
    justify-content: end;
    align-items: flex-end;
}

.soft_box {
    width: 502px;
    height: 60px;
    background: #F06E30;
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.soft_box p {
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 80px;
}

.soft_start {
    width: 100%;
    height: 50vh;
}

.soft_start_content {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.soft_start_content span {
    font-weight: 400;
    font-size: 17px;
    line-height: 44px;
    color: #F06E30;
}

.soft_start_content h3 {
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: #020B38;
    width: 60%;
    margin-bottom: 30px;
}

.soft_start_content p {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    width: 90%;
}

.akin_dev {
    width: 100%;
    height: 125vh;
}

.akin_dev_header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.akin_dev_header h3 {
    font-weight: 600;
    font-size: 35px;
    color: #020B38;
}

.akin_dev_header p {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    width: 52%;
    text-align: center;
}

.akin_tab {
    width: 100%;
    height: 95vh;
    display: flex;
}

.akin_tab_cont {
    width: 50%;
    height: 95vh;
    background: url('https://user-images.githubusercontent.com/43387401/235374730-f4dbdec6-0c21-4dda-b782-abbe94dced13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.akin_tab_cont_overlay {
    width: 100%;
    height: 100%;
    background: rgba(9, 15, 58, 0.52);
    display: flex;
    justify-content: center;
    align-items: center;
}

.akin_dev_box_c1 {
    position: absolute;
    width: 590px;
    height: 270px;
    background: #010A3B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.akin_dev_box_c2 {
    position: absolute;
    width: 590px;
    height: 270px;
    background: #010A3B;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
    /* animation: scroll_up 2s ease infinite; */
}

.akin_dev_box_c3 {
    position: absolute;
    width: 590px;
    height: 270px;
    background: #010A3B;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
}

.akin_dev_box {
    width: 80%;
}

.akin_dev_box h3 {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.akin_dev_boxL {
    position: relative;
    width: 128px;
    height: 174px;
    left: -215px;
    top: -105px;
    background: #F06E30;
}

.akin_dev_boxR {
    position: relative;
    width: 128px;
    height: 129px;
    left: 223px;
    top: 135px;
    background: #F06E30;
}

.akin_line {
    width: 281px;
    height: 0px;
    border: 1.2px solid #F06E30;
    margin-bottom: 20px;
}

.akin_dev_header_p {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.akin_tabs {
    width: 50%;
    height: 95vh;
}

.akin_tabs_back {
    position: absolute;
    width: 460px;
    height: 725px;
    padding-top: 15px;
    padding-left: 40px;
}

.akin_tabs_cont {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
    padding-left: 105px;
}

.akin_tabs_cont h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    color: #020B38;
}

.akin_tabs_cont h2 span {
    color: #F06E30;
}

.akin_tabs_cont_p {
    font-weight: 400;
    font-size: 18px;
    color: #F06E30;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.lines_l .line_l {
    position: relative;
    width: 82%;
    height: 2.5px;
    background-color: #F06E30;
    overflow: hidden;
    z-index: 5;
    margin-top: 20px;
}

.lines_l .line_l:nth-child(1)::after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.lines_l .line_l::after {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 60px;
    top: 0;
    left: 0px;
    background-color: #FFF;
    -webkit-animation: moveLeftBounces-last 15s linear infinite;
    animation: moveLeftBounces-last 15s linear infinite;
    overflow: hidden;
}

.text_p_change {
    height: 145px;
    padding-top: 30px;
}

.p_change {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    cursor: pointer;
}

.p_change:hover {
    color: #F06E30;
}

.active {
    color: #F06E30;
}

.web_dev {
    width: 100%;
    height: 100vh;
    display: flex;
}

.web_dev_L {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1;
}

.web_dev_L_cont {
    width: 75%;
    margin-top: 50px;
}

.web_dev_L_cont h3 {
    font-weight: 600;
    font-size: 31px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 40px;
}

.web_dev_L_cont h3 span {
    color: #F06E30;
}

.web_dev_L_cont p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
}

.web_dev_R {
    width: 48%;
    height: 100%;
    background: #F06E30;
    z-index: -1;
}

.first_web_dev_r {
    width: 100%;
    height: 380px;
    display: flex;
}

.first_web_dev_r_content_1 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first_web_dev_r_content_1 img {
    position: relative;
    height: 163px;
    left: -20px;
    animation: scroll_left_right 1s ease-in;
}

.first_web_dev_r_content_2 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.web_dev_r_box {
    width: 307px;
    height: 188px;
    background: #010A3B;
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* animation: scroll_right_left 2s ease; */
}

.web_dev_r_box_t {
    width: 70%;
    height: 50%;
}

.web_p_1 {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 4px 4px 11px rgba(255, 255, 255, 0.23);
}

.web_p_2 {
    font-weight: 300;
    width: 12ch;
    font-size: 13px;
    color: #FFFFFF;
    text-shadow: 4px 4px 11px rgba(255, 255, 255, 0.23);
    margin-bottom: 5px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
}

.web_p_2_1 {
    font-weight: 300;
    width: 6ch;
    font-size: 13px;
    color: #FFFFFF;
    text-shadow: 4px 4px 11px rgba(255, 255, 255, 0.23);
    margin-bottom: 5px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
}

.web_p_2_2 {
    font-weight: 300;
    width: 12ch;
    font-size: 13px;
    color: #FFFFFF;
    text-shadow: 4px 4px 11px rgba(255, 255, 255, 0.23);
    margin-bottom: 5px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
}

.center_web_dev_r {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_web_dev_r h3 {
    width: 40%;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 4px 4px 11px rgba(255, 255, 255, 0.23);
}

.first_web_dev_r_content_last {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.first_web_dev_r_content_last img {
    position: relative;
    height: 115px;
    left: -72px;
    animation: scroll_left_right 2s ease-in;
}

.cont_box_first {
    position: absolute;
    height: 60px;
    width: 176px;
    background: #010A3B;
    margin-top: 70px;
    z-index: -1;
    animation: scroll_left_right 1.8s ease-in;
}

.last_web_dev_r {
    height: 244px;
    width: 100%;
    display: flex;
}

.first_web_dev_r_content_lastL {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-top: 35px;
}

.first_web_dev_r_content_lastL img {
    position: relative;
    height: 230px;
    left: 68px;
    animation: scrol_down_up 2s ease;
}

.mobile_section {
    height: 90vh;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    display: flex;
}

.mobile_l {
    width: 50%;
    height: inherit;
    background: #F9F8F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_l img{
height: 560px;
}

.mobile_r{
    width: 50%;
    height: inherit;
}

.mobile_r_up{
    width: inherit;
    height: 250px;
    background: #020B38;
    display: flex;
    justify-content: flex-end;
}

.mobile_r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_r h4{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.06em;
    color: #040B39;
    width: 65%;
}

.mobile_r h4 span{
    color: #F06E30;
}

.soft_dev_foot{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soft_dev_foot_content{
    width: 80%;
}

.soft_dev_foot img:nth-child(1){
    width: 185px;
    height: 36px;
    /* animation: scale_ 8s ease infinite; */
}

.soft_dev_foot img:hover{
    transform: scale(1.2);
}

.soft_dev_foot_content img:nth-child(2){
    width: 185px;
    height: 55px;
    margin-left: 70px;
}
.soft_dev_foot_content img:nth-child(3){
    width: 185px;
    height: 50px;
    margin-left: 70px;
}
.soft_dev_foot_content img:nth-child(4){
    width: 180px;
    height: 58px;
    margin-left: 70px;
}
.soft_dev_foot_content img:nth-child(5){
    width: 180px;
    height: 50px;
    margin-left: 70px;
}

@keyframes scale_ {
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes scroll_left_right {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes scroll_right_left {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes scrol_down_up {
    0% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes scroll_up {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scroll_down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

@keyframes moveLeftBounces-last {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(380px);
        transform: translateX(380px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}