<link href="css/pages/aboutus.css" type='text/css' rel="stylesheet" />
<section class="aboutus_header">
    <div class="aboutus_filter">
        <div class="ab_header_txt">
            <div class="sub_header_rpa">
                <div class="rpa_line"></div>
                <h5>About RPA</h5>
            </div>
            <div class="ab_header_box">
                <h3><span>"</span>Reflect <span class="ab_believe"
                        style="font-family: 'Fira sans';position: relative;top:0px;">Believe</span> and
                    Succeed<span>"</span></h3>
            </div>
            <p>Akin Co-Founders</p>
        </div>
        <div class="co_founders">
            <div class="co_found_svg">
                <svg width="115" height="122" viewBox="0 0 131 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="102.14" y="24.4088" width="8.84747" height="104.51"
                        transform="rotate(50.3609 102.14 24.4088)" fill="#F06E30" />
                    <rect x="124.74" y="25.3128" width="8.84747" height="104.51"
                        transform="rotate(50.3609 124.74 25.3128)" fill="#F06E30" />
                    <rect x="81.3472" y="22.6007" width="8.84747" height="104.51"
                        transform="rotate(50.3609 81.3472 22.6007)" fill="#F06E30" />
                    <rect x="86.7712" width="8.84747" height="104.51" transform="rotate(50.3609 86.7712 0)"
                        fill="#F06E30" />
                    <rect x="121.124" y="47.9135" width="8.84747" height="104.51"
                        transform="rotate(50.3609 121.124 47.9135)" fill="#F06E30" />
                </svg>
            </div>
            <img src="https://user-images.githubusercontent.com/43387401/232121181-02c64a93-570a-48eb-8bb9-594b69ab1231.png"
                alt="">
        </div>
    </div>
</section>
<section class="about_values">
    <div class="values_">
        <div class="value_box">
            <p>Our</p>
            <h4>Values</h4>
            <div class="value_box_1">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_box">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_325_10)">
                                            <mask id="mask0_325_10" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                                                <path d="M38 0H0V38H38V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_325_10)">
                                                <path
                                                    d="M36.4911 27.2284L29.6543 33.4588C26.4385 36.388 22.2728 37.9998 17.9249 37.9998H1.58333C0.70775 37.9998 0 37.2921 0 36.4165C0 35.5409 0.70775 34.8331 1.58333 34.8331H17.9233C21.4811 34.8331 24.8884 33.5143 27.5199 31.1171L34.3029 24.9389C34.8523 24.3879 34.9837 23.4443 34.5499 22.8426C34.2649 22.4483 33.8501 22.2108 33.3783 22.1713C32.9175 22.1411 32.4599 22.3011 32.1306 22.6304L25.4268 28.7833C24.5749 29.5876 23.4286 30.0831 22.1667 30.0831H14.25C13.3744 30.0831 12.6667 29.3754 12.6667 28.4998C12.6667 27.6243 13.3744 26.9165 14.25 26.9165H22.1667C22.5657 26.9165 23.75 26.7344 23.75 25.3331C23.75 24.4591 23.0407 23.7498 22.1667 23.7498H14.3893C10.5846 23.7498 7.00467 25.2334 4.313 27.9235L2.73283 29.5908C2.42092 29.9185 2.00292 30.0848 1.58333 30.0848C1.19225 30.0848 0.799581 29.9406 0.494 29.6509C-0.139333 29.0476 -0.16625 28.0454 0.435417 27.4121L2.04567 25.7163C5.36592 22.3976 9.73906 20.5863 14.3909 20.5863H22.1682C24.1252 20.5863 25.8099 21.777 26.5367 23.4711L29.9424 20.3456C30.8782 19.4068 32.2477 18.8969 33.6332 19.0173C35.0265 19.1281 36.2979 19.8485 37.1213 20.9933C38.4576 22.8521 38.1868 25.5311 36.4927 27.23L36.4911 27.2284ZM6.34283 3.42299C6.27633 2.50307 6.61517 1.5974 7.27383 0.940316C7.93094 0.281649 8.83656 -0.0635176 9.75806 0.00931578C14.3133 0.330732 17.3343 1.9014 19 4.93665C20.6672 1.9014 23.6867 0.330732 28.2435 0.00931578C29.1793 -0.0666842 30.0707 0.281649 30.7262 0.940316C31.3848 1.5974 31.7237 2.50307 31.6572 3.42457C31.1647 10.4118 27.7305 13.7875 20.5833 14.2039V15.8316C20.5833 16.7071 19.8756 17.4149 19 17.4149C18.1244 17.4149 17.4167 16.7071 17.4167 15.8316V14.2039C10.2695 13.7859 6.83525 10.4118 6.34283 3.42299ZM20.634 11.0325C25.9556 10.6778 28.1295 8.44057 28.5 3.20132C23.2291 3.54015 20.9887 5.7109 20.634 11.0325ZM9.53325 3.16649C9.87206 8.43738 12.0428 10.6778 17.3644 11.0325C17.0098 5.7109 14.7725 3.53699 9.53325 3.16649Z"
                                                    fill="#F06E30" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_325_10">
                                                <rect width="38" height="38" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="value_box_1_h4">Integrity</h5>
                                <div class="value_box_1_p">Our first principal is honesty, which helps us meet the
                                    expectations we create.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_box">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_325_77)">
                                            <mask id="mask0_325_77" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                                                <path d="M38 0H0V38H38V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_325_77)">
                                                <path
                                                    d="M36.4166 23.75H35.3604C34.9646 23.75 34.5719 23.7801 34.1809 23.8403L23.0247 15.474L25.6974 12.9153C26.3291 12.3105 26.3513 11.3066 25.7464 10.6765C25.1401 10.0447 24.1362 10.0241 23.5076 10.6273L16.9004 16.9528C16.5711 17.2821 16.1229 17.4515 15.6527 17.412C15.1809 17.374 14.7661 17.1348 14.4826 16.739C14.0488 16.1373 14.1818 15.1953 14.7486 14.6268L22.1951 7.61427C23.6058 6.28902 25.8114 5.96444 27.5372 6.83052L31.2042 8.66402C32.2967 9.21027 33.5222 9.49846 34.7429 9.49846H36.4149C37.2906 9.49846 37.9983 8.79071 37.9983 7.91508C37.9983 7.03952 37.2906 6.33177 36.4149 6.33177H34.7429C34.0099 6.33177 33.2736 6.15919 32.6181 5.83144L28.9543 3.99794C26.0663 2.55235 22.3787 3.0891 20.0227 5.30894L19.0442 6.23044L17.9359 5.22027C16.4808 3.89502 14.5966 3.1651 12.5684 3.1651C11.3476 3.1651 10.1301 3.45327 9.04233 3.99635L5.37846 5.82985C4.72138 6.1576 3.98513 6.33019 3.25204 6.33019H1.58321C0.707624 6.33019 -0.000125649 7.03794 -0.000125649 7.91352C-0.000125649 8.78908 0.707624 9.49683 1.58321 9.49683H3.25521C4.47596 9.49683 5.70146 9.20708 6.79554 8.66246L10.4626 6.82894C12.0807 6.0151 14.3544 6.23519 15.8047 7.56046L16.7341 8.40752L12.5446 12.3532C10.8457 14.0505 10.5749 16.7343 11.9144 18.5883C12.7378 19.7331 14.3734 20.5818 15.7841 20.5818C17.0397 20.5818 18.2446 20.0878 19.1154 19.2153L20.7083 17.6906L30.7561 25.2257C30.7071 25.2605 20.9426 32.5818 20.9426 32.5818C19.7979 33.4717 18.2003 33.4717 17.0318 32.5645L7.38771 25.3318C6.02763 24.3105 4.33979 23.7485 2.63771 23.7485H1.58163C0.706041 23.7485 -0.00170898 24.4562 -0.00170898 25.3318C-0.00170898 26.2073 0.706041 26.9151 1.58163 26.9151H2.63771C3.65896 26.9151 4.67071 27.2523 5.48771 27.8651L15.1096 35.082C16.2576 35.975 17.6334 36.4215 19.0062 36.4215C20.3711 36.4215 21.7343 35.9797 22.8648 35.0993L32.5121 27.8667C33.3274 27.254 34.3392 26.9167 35.3604 26.9167H36.4166C37.2921 26.9167 37.9999 26.209 37.9999 25.3333C37.9999 24.4578 37.2921 23.75 36.4166 23.75Z"
                                                    fill="#F06E30" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_325_77">
                                                <rect width="38" height="38" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="value_box_1_h4">Commitment</h5>
                                <div class="value_box_1_p">Our commitment to our work and our clients is an unbreakable
                                    bond.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 70px;">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_box">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_325_89)">
                                            <mask id="mask0_325_89" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                                                <path d="M38 0H0V38H38V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_325_89)">
                                                <path
                                                    d="M14.1946 38H6.33333C4.65363 38 3.04272 37.3328 1.85499 36.145C0.66726 34.9573 0 33.3463 0 31.6667V23.75C0 22.0703 0.66726 20.4594 1.85499 19.2716C3.04272 18.0839 4.65363 17.4167 6.33333 17.4167H20.3569C21.2138 17.4171 22.0561 17.6387 22.8023 18.06C23.5484 18.4814 24.1732 19.0882 24.6161 19.8217L29.7097 14.2247C30.131 13.7613 30.6394 13.3856 31.2061 13.119C31.7727 12.8523 32.3862 12.6999 33.0118 12.6705C33.6374 12.6411 34.2625 12.7352 34.8516 12.9475C35.4407 13.1599 35.9822 13.4863 36.4452 13.908C37.3688 14.7565 37.9224 15.9339 37.9866 17.1865C38.0509 18.4391 37.6207 19.6669 36.7888 20.6055L26.0221 32.6974C24.5355 34.3647 22.7134 35.699 20.675 36.6128C18.6368 37.5266 16.4283 37.9993 14.1946 38ZM6.33333 20.5833C5.49348 20.5833 4.68803 20.917 4.09416 21.5108C3.5003 22.1047 3.16667 22.9101 3.16667 23.75V31.6667C3.16667 32.5065 3.5003 33.312 4.09416 33.9059C4.68803 34.4997 5.49348 34.8333 6.33333 34.8333H14.1946C15.9805 34.8326 17.746 34.4545 19.3755 33.7238C21.0051 32.9931 22.4619 31.9262 23.6503 30.5932L34.4248 18.4997C34.7046 18.1846 34.8494 17.7722 34.828 17.3514C34.8067 16.9306 34.621 16.535 34.3108 16.2498C33.9955 15.9662 33.5819 15.8168 33.1582 15.8333C32.9481 15.8422 32.7419 15.8928 32.5516 15.9823C32.3613 16.0717 32.1908 16.1982 32.0498 16.3542L25.042 24.0667C24.7344 24.9181 24.2013 25.6701 23.4997 26.2423C22.7981 26.8145 21.9543 27.1855 21.0583 27.3157L12.8868 28.4842C12.4711 28.5438 12.0487 28.4359 11.7125 28.1841C11.3764 27.9322 11.154 27.5572 11.0944 27.1415C11.0348 26.7258 11.1428 26.3034 11.3946 25.9673C11.6463 25.6311 12.0214 25.4088 12.4371 25.3492L20.6103 24.1823C21.064 24.1188 21.4766 23.8856 21.7649 23.5296C22.0533 23.1736 22.1958 22.7215 22.1636 22.2645C22.1314 21.8075 21.927 21.3798 21.5916 21.0678C21.2563 20.7557 20.815 20.5826 20.3569 20.5833H6.33333ZM17.4167 14.3672C16.6991 14.3691 16.0023 14.1255 15.4423 13.6768C12.7316 11.5013 9.5 8.23331 9.5 5.06667C9.46111 3.76575 9.939 2.50237 10.8292 1.55288C11.7194 0.603382 12.9492 0.0450493 14.25 0C15.4333 0.00460881 16.5686 0.468378 17.4167 1.29358C18.2647 0.468378 19.4 0.00460881 20.5833 0C21.8841 0.0450493 23.114 0.603382 24.0041 1.55288C24.8943 2.50237 25.3722 3.76575 25.3333 5.06667C25.3333 8.23331 22.1018 11.5013 19.3895 13.6784C18.8296 14.1262 18.1336 14.3692 17.4167 14.3672ZM14.25 3.16667C13.7898 3.21284 13.3661 3.43777 13.07 3.79307C12.7739 4.14838 12.6291 4.60569 12.6667 5.06667C12.6667 6.49167 14.4891 8.85081 17.4262 11.2084C20.3443 8.85081 22.1667 6.49167 22.1667 5.06667C22.2042 4.60569 22.0594 4.14838 21.7633 3.79307C21.4673 3.43777 21.0435 3.21284 20.5833 3.16667C20.1232 3.21284 19.6994 3.43777 19.4034 3.79307C19.1072 4.14838 18.9624 4.60569 19 5.06667C19 5.48659 18.8332 5.88932 18.5363 6.18625C18.2393 6.48319 17.8366 6.65 17.4167 6.65C16.9968 6.65 16.5941 6.48319 16.2971 6.18625C16.0002 5.88932 15.8333 5.48659 15.8333 5.06667C15.8709 4.60569 15.7261 4.14838 15.43 3.79307C15.1339 3.43777 14.7102 3.21284 14.25 3.16667Z"
                                                    fill="#F06E30" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_325_89">
                                                <rect width="38" height="38" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="value_box_1_h4">Passion</h5>
                                <div class="value_box_1_p">Passion drives us to perform better, progress continually,
                                    and deliver timely.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_box">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_325_83)">
                                            <mask id="mask0_325_83" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                                                <path d="M38 0H0V38H38V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_325_83)">
                                                <path
                                                    d="M31.5083 4.89409C31.3136 4.05754 30.9508 3.26933 30.442 2.57739C29.9332 1.88546 29.2889 1.30425 28.5484 0.869121C27.8078 0.433987 26.9865 0.154027 26.1344 0.0462635C25.2823 -0.0615002 24.4172 0.00518417 23.5917 0.242261L20.862 1.02284C20.1705 1.22159 19.5336 1.57577 19 2.05834C18.4664 1.57577 17.8295 1.22159 17.138 1.02284L14.4083 0.242261C13.5833 0.0064198 12.7189 -0.0593139 11.8678 0.04905C11.0166 0.157414 10.1962 0.437615 9.45666 0.872646C8.71707 1.30768 8.07359 1.88846 7.56527 2.57976C7.0569 3.27105 6.69435 4.05843 6.49958 4.89409C4.67843 5.22543 3.03095 6.18444 1.84353 7.60447C0.656097 9.02442 0.00379364 10.8156 0 12.6667V23.75C0.00251411 25.8488 0.837395 27.8611 2.32152 29.3451C3.80563 30.8293 5.81781 31.6642 7.91669 31.6667H17.4167V34.8333H12.6667C12.2468 34.8333 11.8441 35.0002 11.5471 35.2971C11.2502 35.594 11.0833 35.9968 11.0833 36.4167C11.0833 36.8366 11.2502 37.2393 11.5471 37.5363C11.8441 37.8332 12.2468 38 12.6667 38H25.3333C25.7532 38 26.156 37.8332 26.4529 37.5363C26.7498 37.2393 26.9167 36.8366 26.9167 36.4167C26.9167 35.9968 26.7498 35.594 26.4529 35.2971C26.156 35.0002 25.7532 34.8333 25.3333 34.8333H20.5833V31.6667H30.0833C32.1822 31.6642 34.1944 30.8293 35.6785 29.3451C37.1626 27.8611 37.9975 25.8488 38 23.75V12.6667C37.9965 10.8168 37.3454 9.0265 36.1595 7.60662C34.9737 6.1868 33.328 5.22708 31.5083 4.89409ZM20.5833 5.59076C20.5835 5.24688 20.6956 4.91241 20.9027 4.63789C21.1098 4.36338 21.4006 4.16374 21.7312 4.06918L24.4625 3.28859C24.9339 3.15378 25.43 3.13024 25.912 3.21982C26.394 3.3094 26.8486 3.50967 27.24 3.80484C27.6314 4.10001 27.9489 4.48202 28.1676 4.9208C28.3862 5.35957 28.5 5.84311 28.5 6.33334V12.5685C28.4978 13.2556 28.2729 13.9234 27.8589 14.4719C27.445 15.0203 26.8644 15.4196 26.2042 15.6101L20.5833 17.2156V5.59076ZM10.7667 3.80001C11.1573 3.50591 11.611 3.30663 12.0919 3.21787C12.5727 3.12912 13.0676 3.15333 13.5375 3.28859L16.2687 4.06918C16.5994 4.16374 16.8902 4.36338 17.0973 4.63789C17.3044 4.91241 17.4165 5.24688 17.4167 5.59076V17.2156L11.7958 15.6101C11.1356 15.4196 10.555 15.0203 10.1411 14.4719C9.72711 13.9234 9.50223 13.2556 9.5 12.5685V6.33334C9.49837 5.84145 9.61215 5.35604 9.83213 4.91608C10.0521 4.47611 10.3722 4.09386 10.7667 3.80001ZM34.8333 23.75C34.8333 25.0098 34.3329 26.218 33.4421 27.1088C32.5513 27.9996 31.3431 28.5 30.0833 28.5H7.91669C6.65689 28.5 5.44871 27.9996 4.55791 27.1088C3.66711 26.218 3.16667 25.0098 3.16667 23.75V12.6667C3.17072 11.6878 3.47713 10.734 4.04397 9.9359C4.61081 9.13782 5.4104 8.53428 6.33333 8.20801V12.5685C6.33721 13.9434 6.78683 15.2799 7.6147 16.3776C8.44261 17.4753 9.60413 18.2749 10.925 18.6565L16.3891 20.2192C18.0968 20.7059 19.9064 20.7059 21.6141 20.2192L27.0782 18.6565C28.3985 18.2743 29.5592 17.4744 30.3866 16.3768C31.2138 15.2792 31.663 13.943 31.6667 12.5685V8.20801C32.5896 8.53428 33.3892 9.13782 33.956 9.9359C34.5229 10.734 34.8293 11.6878 34.8333 12.6667V23.75Z"
                                                    fill="#F06E30" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_325_83">
                                                <rect width="38" height="38" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="value_box_1_h4">Learning</h5>
                                <div class="value_box_1_p">Our team is always learning something new to get better at
                                    what they do.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 70px;">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_box">
                                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_325_96)">
                                            <mask id="mask0_325_96" style="mask-type:luminance"
                                                maskUnits="userSpaceOnUse" x="0" y="0" width="38" height="38">
                                                <path d="M38 0H0V38H38V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_325_96)">
                                                <path
                                                    d="M19 25.3333C17.7474 25.3333 16.5229 24.9619 15.4814 24.266C14.4399 23.5701 13.6281 22.5809 13.1487 21.4237C12.6694 20.2664 12.544 18.9929 12.7883 17.7644C13.0327 16.5359 13.6359 15.4074 14.5216 14.5216C15.4074 13.6359 16.5359 13.0327 17.7644 12.7883C18.9929 12.544 20.2664 12.6694 21.4237 13.1487C22.5809 13.6281 23.5701 14.4399 24.266 15.4814C24.9619 16.5229 25.3333 17.7474 25.3333 19C25.3333 20.6797 24.6661 22.2906 23.4784 23.4784C22.2906 24.6661 20.6797 25.3333 19 25.3333ZM19 15.8333C18.3737 15.8333 17.7614 16.0191 17.2407 16.367C16.7199 16.715 16.314 17.2095 16.0744 17.7882C15.8347 18.3668 15.772 19.0035 15.8942 19.6178C16.0163 20.232 16.318 20.7963 16.7608 21.2392C17.2037 21.682 17.768 21.9837 18.3822 22.1058C18.9965 22.228 19.6332 22.1653 20.2118 21.9256C20.7905 21.686 21.285 21.2801 21.633 20.7593C21.9809 20.2386 22.1667 19.6263 22.1667 19C22.1667 18.1601 21.833 17.3547 21.2392 16.7608C20.6453 16.167 19.8399 15.8333 19 15.8333ZM28.5 36.4167C28.5 33.8971 27.4991 31.4808 25.7175 29.6992C23.9359 27.9175 21.5196 26.9167 19 26.9167C16.4804 26.9167 14.0641 27.9175 12.2825 29.6992C10.5009 31.4808 9.5 33.8971 9.5 36.4167C9.5 36.8366 9.66684 37.2393 9.96372 37.5363C10.2607 37.8332 10.6634 38 11.0833 38C11.5032 38 11.906 37.8332 12.2029 37.5363C12.4998 37.2393 12.6667 36.8366 12.6667 36.4167C12.6667 34.737 13.3339 33.1261 14.5216 31.9383C15.7094 30.7506 17.3203 30.0833 19 30.0833C20.6797 30.0833 22.2906 30.7506 23.4784 31.9383C24.6661 33.1261 25.3333 34.737 25.3333 36.4167C25.3333 36.8366 25.5002 37.2393 25.7971 37.5363C26.094 37.8332 26.4968 38 26.9167 38C27.3366 38 27.7393 37.8332 28.0363 37.5363C28.3332 37.2393 28.5 36.8366 28.5 36.4167ZM28.5 12.6667C27.2474 12.6667 26.0229 12.2952 24.9814 11.5993C23.9399 10.9034 23.1281 9.91429 22.6487 8.757C22.1694 7.5997 22.044 6.32631 22.2883 5.09777C22.5327 3.86922 23.1359 2.74073 24.0216 1.85499C24.9074 0.96926 26.0359 0.366069 27.2644 0.121696C28.4929 -0.122677 29.7664 0.00274416 30.9237 0.482099C32.0809 0.961452 33.0701 1.77321 33.766 2.81472C34.4619 3.85624 34.8333 5.08072 34.8333 6.33334C34.8333 8.01303 34.1661 9.62395 32.9784 10.8117C31.7906 11.9994 30.1797 12.6667 28.5 12.6667ZM28.5 3.16667C27.8737 3.16667 27.2614 3.35239 26.7407 3.70035C26.2199 4.04831 25.814 4.54287 25.5744 5.12151C25.3347 5.70014 25.272 6.33685 25.3942 6.95112C25.5163 7.56541 25.818 8.12962 26.2608 8.57249C26.7037 9.01535 27.268 9.31698 27.8822 9.43914C28.4965 9.56138 29.1332 9.49866 29.7118 9.25894C30.2905 9.01929 30.785 8.61338 31.133 8.09266C31.4809 7.57187 31.6667 6.95964 31.6667 6.33334C31.6667 5.49349 31.333 4.68803 30.7392 4.09417C30.1453 3.5003 29.3399 3.16667 28.5 3.16667ZM38 23.75C37.9975 21.2312 36.9958 18.8163 35.2147 17.0353C33.4337 15.2542 31.0188 14.2525 28.5 14.25C28.0801 14.25 27.6774 14.4168 27.3804 14.7137C27.0835 15.0107 26.9167 15.4134 26.9167 15.8333C26.9167 16.2532 27.0835 16.656 27.3804 16.9529C27.6774 17.2498 28.0801 17.4167 28.5 17.4167C30.1797 17.4167 31.7906 18.0839 32.9784 19.2716C34.1661 20.4594 34.8333 22.0703 34.8333 23.75C34.8333 24.1699 35.0002 24.5726 35.2971 24.8696C35.594 25.1665 35.9968 25.3333 36.4167 25.3333C36.8366 25.3333 37.2393 25.1665 37.5363 24.8696C37.8332 24.5726 38 24.1699 38 23.75ZM9.5 12.6667C8.24741 12.6667 7.0229 12.2952 5.98139 11.5993C4.93987 10.9034 4.12812 9.91429 3.64876 8.757C3.16941 7.5997 3.04399 6.32631 3.28836 5.09777C3.53273 3.86922 4.13592 2.74073 5.02166 1.85499C5.90739 0.96926 7.03589 0.366069 8.26441 0.121696C9.49295 -0.122677 10.7664 0.00274416 11.9237 0.482099C13.0809 0.961452 14.0701 1.77321 14.766 2.81472C15.4619 3.85624 15.8333 5.08072 15.8333 6.33334C15.8333 8.01303 15.1661 9.62395 13.9784 10.8117C12.7906 11.9994 11.1797 12.6667 9.5 12.6667ZM9.5 3.16667C8.87367 3.16667 8.26144 3.35239 7.74072 3.70035C7.21994 4.04831 6.81406 4.54287 6.57438 5.12151C6.3347 5.70014 6.272 6.33685 6.39418 6.95112C6.51637 7.56541 6.81796 8.12962 7.26083 8.57249C7.70368 9.01535 8.26797 9.31698 8.8822 9.43914C9.49651 9.56138 10.1332 9.49866 10.7118 9.25894C11.2905 9.01929 11.785 8.61338 12.133 8.09266C12.4809 7.57187 12.6667 6.95964 12.6667 6.33334C12.6667 5.49349 12.333 4.68803 11.7392 4.09417C11.1453 3.5003 10.3399 3.16667 9.5 3.16667ZM3.16667 23.75C3.16667 22.0703 3.83393 20.4594 5.02166 19.2716C6.20939 18.0839 7.82028 17.4167 9.5 17.4167C9.91993 17.4167 10.3226 17.2498 10.6196 16.9529C10.9165 16.656 11.0833 16.2532 11.0833 15.8333C11.0833 15.4134 10.9165 15.0107 10.6196 14.7137C10.3226 14.4168 9.91993 14.25 9.5 14.25C6.98122 14.2525 4.56632 15.2542 2.78527 17.0353C1.00421 18.8163 0.00251501 21.2312 0 23.75C0 24.1699 0.166815 24.5726 0.463748 24.8696C0.760683 25.1665 1.16341 25.3333 1.58333 25.3333C2.00326 25.3333 2.40599 25.1665 2.70292 24.8696C2.99986 24.5726 3.16667 24.1699 3.16667 23.75Z"
                                                    fill="#F06E30" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_325_96">
                                                <rect width="38" height="38" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="value_box_1_h4">Team-work</h5>
                                <div class="value_box_1_p">Our team members are all about helping each other.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="goals_">
        <div class="goals_box">
            <p>Our</p>
            <h4>Goal Statement</h4>
            <div style="margin-top: 40px;">
                <div class="goals_p">Our goal is to create meaningful and positive impact in the community and the world
                    through
                    innovative solutions, responsible business practices, and active engagement with our stakeholders,
                    with the aim of contributing to a more sustainable and equitable future for all.</div>
            </div>
        </div>
    </div>
</section>
<section class="we_akin">
    <div class="we_akin_content"></div>
    <div class="we_txt_cont">
        <div class="we_txt_header">
            <h2><span>AKIN</span> Consultancy, Where we believe in your future</h2>
            <div class="lines_l">
                <div class="line_l"></div>
            </div>
        </div>
        <div class="we_txt_p">
            <div class="we_txt_p_cont">
                <p>AKIN a new and fresh IT-consultant helping you with every technologic idea that you have come true.
                    With a great team of the best young professionals, with creative mind that focus on the future.</p>
            </div>
        </div>
        <div class="we_txt_p_2">
            <div class="we_txt_p_cont">
                <p class="text-right">Delivering exceptional IT consulting services with a customer-centric approach,
                    our business is
                    committed to leveraging the latest technologies and industry best practices to drive innovation and
                    help our clients achieve their business goals with greater efficiency and effectiveness.</p>
            </div>
        </div>
        <div class="we_txt_p" style="margin-top: 40px;">
            <div class="we_txt_p_cont">
                <p>AKIN a new and fresh IT-consultant helping you with every technologic idea that you have come true.
                    With a great team of the best young professionals, with creative mind that focus on the future.</p>
            </div>
        </div>
    </div>
</section>
<section class="our_team_content">
    <div class="container">
        <div class="our_team_header">
            <h3>Our Team</h3>
            <div class="our_lines">
                <div class="our_line"></div>
            </div>
            <p>We are a team of dedicated professionals who are passionate about delivering exceptional results and
                exceeding our clients expectations.</p>
        </div>
        <div class="row" style="margin-top:115px;">
            <div class="col-lg-4">
                <div class="team_box">
                    <div class="profile-card" data-toggle="modal" data-target="#exampleModalCenter">
                        <div class="img">
                            <img src="media/natha_big.png">
                        </div>
                        <div class="caption">
                            <h3>Nathaniel Martina</h3>
                            <p>CO-FOunder CEO</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team_box">
                    <div class="profile-card">
                        <div class="img">
                            <img src="media/rayenne_small.png">
                        </div>
                        <div class="caption">
                            <h3>Rayenne Mattheeuw</h3>
                            <p>Co-Founder COO</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team_box">
                    <div class="profile-card">
                        <div class="img">
                            <img src="media/ellie_small.png">
                        </div>
                        <div class="caption">
                            <h3>Elfrayline Laker</h3>
                            <p>Co-Founder COO</p>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="last_part">
            <div class="i_circle"></div>
            <h3>Your future is here.</h3>
            <a href="/contactus" class="team_button">Contact Us</a>
        </div>
    </div>
</section>

{{!-- natha modal --}}
<div class="modal fade" id="nathamodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>