<link href="css/pages/business.css" type='text/css' rel="stylesheet" />

<section class="business_header">
    <div class="business_content">
        <div class="business_text">
            <h1>Project Management</h1>
        </div>
    </div>
</section>
<section class="business_welcome">
    <div class="wec_cont_1">
        <div class="text_bus">
            <h4>Imagine a world where every project is seamlessly executed, where timelines are met with precision, and
                resources are optimally utilized.</h4>
        </div>
        <div class="blob_cont">
            <div class="blob_1">
                <img src="/media/blob_2.png" alt="">
            </div>
            <div class="blob_2">
                <img src="/media/blob_1.png" alt="">
            </div>
        </div>
    </div>
    <div class="wec_cont_2">
        <div class="text_bus_2">
            <h4>This is the world of effective project management—a strategic approach that empowers businesses to
                navigate through complexities, mitigate risks, and stay on the path to triumph.</h4>
        </div>
    </div>
</section>
<section class="welcome_b">
    <div class="welcome_b_cont">
        <div class="w_cont_t">
            <div class="w_contt_l">
                <h5><span>Welcome</span> to the realm where goals are not just aspirations; they are concrete realities,
                    shaped and crafted with precision through effective project management.</h5>
            </div>
            <div class="w_contt_r"><img src="/media/rm_img.png" alt=""></div>
        </div>
        <div class="w_cont_b"></div>
    </div>
</section>
<section class="high_i_b">
    <img src="https://user-images.githubusercontent.com/43387401/226220457-3dcf4622-36b9-4fc7-a05c-9b43decf4316.png"
        alt="">
    <div class="high_content">
        <h1>High-impact services for your business</h1>
        <p>Make your business shine online with a custom software, website and mobile app designed just for you by a
            professional designer.</p>
        <div class="row mt-5">
            <div class="col-lg-6">
                <a class="card1" href="#">
                    <div class="card1_cont">
                        <h3>Operation Management</h3>
                        <p class="small">Efficiency and effectiveness are at the core of our Operations Excellence</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a class="card1" href="#">
                    <div class="card1_cont">
                        <h3>Human Resource Consulting</h3>
                        <p class="small">Our People-Powered Human Resources services are designed to harness the
                            potential of your workforce.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="analisis_b">
    <div class="analisis_content mt-5">
        <h2>A simple yet <span>powerful</span> and <span>efficient</span> process</h2>
        <p>Effective business management is essential for the success and growth of any organization, as it ensures that
            resources are used efficiently and effectively to achieve desired outcomes.
        </p>
        <div class="analisis_box mt-4">
            <div class="row">
                <div class="col-lg-5"><img class="an_img" src="/media/home-process.jpg" alt=""></div>
                <div class="col-lg-7">
                    <div class="options_cont">
                        <div class="option_card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="options_c_img">
                                        <div class="option_backg">
                                            <svg width="34" height="34" viewBox="0 0 43 43" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_786_30)">
                                                    <path
                                                        d="M31.1742 27.4789L30.9221 27.8245L31.2244 28.127L41.8569 38.7679L41.857 38.768C42.7115 39.6225 42.7115 41.0108 41.857 41.8654C41.0025 42.7199 39.6143 42.7199 38.7597 41.8655C38.7597 41.8655 38.7597 41.8654 38.7596 41.8654L28.1273 31.2247L27.8242 30.9213L27.4782 31.1748C24.6723 33.2302 21.2143 34.4375 17.4688 34.4375C8.09509 34.4375 0.5 26.8424 0.5 17.4688C0.5 8.09509 8.09509 0.5 17.4688 0.5C26.8424 0.5 34.4375 8.09509 34.4375 17.4688C34.4375 21.2136 33.2222 24.6721 31.1742 27.4789ZM17.4688 30.0625C19.1226 30.0625 20.7602 29.7368 22.2882 29.1039C23.8161 28.471 25.2044 27.5433 26.3739 26.3739C27.5433 25.2044 28.471 23.8161 29.1039 22.2882C29.7368 20.7602 30.0625 19.1226 30.0625 17.4688C30.0625 15.8149 29.7368 14.1773 29.1039 12.6493C28.471 11.1214 27.5433 9.73306 26.3739 8.56362C25.2044 7.39419 23.8161 6.46654 22.2882 5.83364C20.7602 5.20075 19.1226 4.875 17.4688 4.875C15.8149 4.875 14.1773 5.20075 12.6493 5.83364C11.1214 6.46654 9.73306 7.39419 8.56362 8.56362C7.39419 9.73306 6.46654 11.1214 5.83364 12.6493C5.20075 14.1773 4.875 15.8149 4.875 17.4688C4.875 19.1226 5.20075 20.7602 5.83364 22.2882C6.46654 23.8161 7.39419 25.2044 8.56362 26.3739C9.73306 27.5433 11.1214 28.471 12.6493 29.1039C14.1773 29.7368 15.8149 30.0625 17.4688 30.0625Z"
                                                        fill="#F06E30" stroke="black" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_786_30">
                                                        <rect width="43" height="43" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="options_c_txt">1. Analysis & Research</div>
                                </div>
                            </div>
                        </div>
                        <div class="option_card mt-5">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="options_c_img">
                                        <div class="option_backg">
                                            <svg width="34" height="34" viewBox="0 0 35 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_786_32)">
                                                    <path
                                                        d="M8.5507 11.518L8.25 11.6487V11.9766V18.8359V19.7038L9.00079 19.2685C10.3946 18.4604 12.0193 18 13.75 18H21.25C24.284 18 26.75 15.534 26.75 12.5V11.9766V11.6487L26.4493 11.518C24.4152 10.6339 23 8.60721 23 6.25C23 3.07302 25.573 0.5 28.75 0.5C31.927 0.5 34.5 3.07302 34.5 6.25C34.5 8.60721 33.0848 10.6339 31.0507 11.518L30.75 11.6487V11.9766V12.5C30.75 17.7473 26.4973 22 21.25 22H13.75C10.716 22 8.25 24.466 8.25 27.5V28.0234V28.3513L8.5507 28.482C10.5848 29.3661 12 31.3928 12 33.75C12 36.927 9.42698 39.5 6.25 39.5C3.07302 39.5 0.5 36.927 0.5 33.75C0.5 31.3928 1.91519 29.3661 3.9493 28.482L4.25 28.3513V28.0234V27.5V11.9766V11.6487L3.9493 11.518C1.91519 10.6339 0.5 8.60721 0.5 6.25C0.5 3.07302 3.07302 0.5 6.25 0.5C9.42698 0.5 12 3.07302 12 6.25C12 8.60721 10.5848 10.6339 8.5507 11.518ZM6.25 8.625C6.87989 8.625 7.48398 8.37478 7.92938 7.92938C8.37478 7.48398 8.625 6.87989 8.625 6.25C8.625 5.62011 8.37478 5.01602 7.92938 4.57062C7.48398 4.12522 6.87989 3.875 6.25 3.875C5.62011 3.875 5.01602 4.12522 4.57062 4.57062C4.12522 5.01602 3.875 5.62011 3.875 6.25C3.875 6.87989 4.12522 7.48398 4.57062 7.92938C5.01602 8.37478 5.62011 8.625 6.25 8.625ZM31.125 6.25C31.125 5.62011 30.8748 5.01602 30.4294 4.57062C29.984 4.12522 29.3799 3.875 28.75 3.875C28.1201 3.875 27.516 4.12522 27.0706 4.57062C26.6252 5.01602 26.375 5.62011 26.375 6.25C26.375 6.87989 26.6252 7.48398 27.0706 7.92938C27.516 8.37478 28.1201 8.625 28.75 8.625C29.3799 8.625 29.984 8.37478 30.4294 7.92938C30.8748 7.48398 31.125 6.87989 31.125 6.25ZM6.25 36.125C6.87989 36.125 7.48398 35.8748 7.92938 35.4294C8.37478 34.984 8.625 34.3799 8.625 33.75C8.625 33.1201 8.37478 32.516 7.92938 32.0706C7.48398 31.6252 6.87989 31.375 6.25 31.375C5.62011 31.375 5.01602 31.6252 4.57062 32.0706C4.12522 32.516 3.875 33.1201 3.875 33.75C3.875 34.3799 4.12522 34.984 4.57062 35.4294C5.01602 35.8748 5.62011 36.125 6.25 36.125Z"
                                                        fill="#F06E30" stroke="black" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_786_32">
                                                        <rect width="35" height="40" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="options_c_txt">2. Project Execution</div>
                                </div>
                            </div>
                        </div>
                        <div class="option_card mt-5">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="options_c_img">
                                        <div class="option_backg">
                                            <svg width="34" height="34" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_786_34)">
                                                    <path
                                                        d="M9.69291 25.2996C9.45734 26.0072 9.64169 26.7705 10.1739 27.3027L12.588 29.7168L12.6804 29.8092C13.2018 30.259 13.9102 30.4119 14.558 30.2037L9.69291 25.2996ZM9.69291 25.2996C9.9263 24.6072 10.2375 23.7046 10.611 22.6698L10.8527 22H10.1407H1.87508C1.3815 22 0.922416 21.7358 0.676028 21.306C0.430228 20.8773 0.435671 20.3513 0.687656 19.9275L0.687916 19.927L4.7894 13.0131C4.78943 13.013 4.78945 13.013 4.78948 13.013C5.71532 11.4534 7.38808 10.5 9.19539 10.5H15.6251H15.9082L16.0538 10.2573C16.2353 9.95476 16.4177 9.67342 16.6026 9.39613C22.843 0.193316 32.1247 -0.123004 37.7142 0.905849L37.7157 0.90611C38.4132 1.03239 38.9599 1.58034 39.0945 2.28711C40.1231 7.88474 39.7984 17.1587 30.6021 23.3988L30.6001 23.4002C30.3373 23.5804 30.0494 23.7624 29.7428 23.9463L29.5001 24.092V24.375V30.8047C29.5001 32.6132 28.5459 34.2925 26.9885 35.2099L26.9872 35.2106L20.0731 39.3122L20.0727 39.3125C19.6489 39.5644 19.1228 39.5699 18.6941 39.3241C18.2633 39.0771 18.0001 38.6253 18.0001 38.125V29.75V29.047L17.3359 29.2778C16.24 29.6586 15.2834 29.9697 14.558 30.2037L9.69291 25.2996ZM30.0001 13.625C30.9615 13.625 31.8835 13.2431 32.5633 12.5633C33.2432 11.8835 33.6251 10.9615 33.6251 10C33.6251 9.03864 33.2432 8.1166 32.5633 7.43678C31.8835 6.75696 30.9615 6.37504 30.0001 6.37504C29.0387 6.37504 28.1166 6.75696 27.4368 7.43678C26.757 8.1166 26.3751 9.03864 26.3751 10C26.3751 10.9615 26.757 11.8835 27.4368 12.5633C28.1166 13.2431 29.0387 13.625 30.0001 13.625Z"
                                                        fill="#F06E30" stroke="black" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_786_34">
                                                        <rect width="40" height="40" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="options_c_txt">3. Project Launch</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="last_part">
    <div class="i_circle"></div>
    <h3>Your future is here.</h3>
    <a href="/contactus" class="team_button">Contact Us</a>
</div>