<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AKIN Buiness</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://user-images.githubusercontent.com/43387401/227792516-aeb634a9-2adb-41a5-9289-b932e47ffe52.png" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto';
    }

    .co_photo {
        width: 100%;
        position: absolute;
    }

    .co_photo img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .co_wave {
        position: relative;
        top: 350px;
    }

    .co_wave img {
        width: 100%;
    }

    .akin_logo_cont {
        position: relative;
        height: 246px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .akin_logo_cont img {
        height: 46px;
        padding-right: 45px;
    }

    .info_content {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: white;
        padding-top: 25px;
        display: flex;
    }

    .line_cont {
        height: 100%;
        width: 10%;
    }

    .all_info {
        width: 90%;
        height: 112%;
    }

    .line_cont {
        display: flex;
        justify-content: center;
    }

    .line_cont img {
        height: 106px;
    }

    .all_info h1 {
        font-weight: 700;
    }

    .all_name_ {
        font-size: 18px;
        font-weight: 300;
        padding-top: 14px;
    }

    .all_name_p {
        font-size: 18px;
        font-weight: 300;
        padding-top: 6px;
    }

    .akin_text {
        padding-top: 25px;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
    }

    .s_color {
        color: #ff7100;
    }

    .person_icon {
        display: flex;
        padding-top: 25px;
    }

    .person_icon img {
        height: 30px;
    }

    .person_icon_t {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .person_icon_t p {
        font-size: 15px;
        font-weight: 700;
    }

    .person_icon_t a {
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }

    .per_linkedin {
        height: 25px !important;
        padding-left: 2px;
    }

    .business_card_cont {
        display: none;
        opacity: 0;
        animation: 1s ease-in;
    }

    .init_b {
        width: 100%;
        height: 100%;
        background: #F9F8F4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        animation: 2s ease-in;
        animation-fill-mode: forwards;
    }

    .dot_ball {
width: 12px;
        height: 12px;
        background: #ff7100;
        border-radius: 50%;
        position: absolute;
        animation: dot_animation 1.2s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        top: 325px;
        left: 209px;
        opacity: 0;
    }

    #A {
        animation: drop_in 2.5s ease-in;
    }

    #K-1 {
        animation: drop_in 3s ease-in;
    }

    #k {
        animation: drop_in 3s ease-in;
    }

    #I {
        animation: drop_in 4s ease-in;
    }

    #N {
        animation: drop_in 5s ease-in;
    }

    .h4_init {
        color: black;
        font-size: 16px;
        font-weight: 300;
        animation: fade_up 2.1s ease-in;
        animation-delay: 2s;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .business_cont {
        height: 100vh;
        width: 100%;
    }

    @keyframes drop_in {
        0% {
            transform: translateY(-500px);
            opacity: 0;
        }

        25% {
            transform: translateY(30px);
            opacity: 1;
        }

        50% {
            transform: translateY(-20px);
        }

        75% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }

    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes fade_up {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    @keyframes dot_animation {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }

        25% {
            transform: translateY(2px);
        }

        50% {
            transform: translateY(0px);
            opacity: 1;
        }

        75% {
            transform: translateY(0px);
        }

        100% {
            transform: scale(90);
            opacity: 1;
        }
    }
</style>

<body>
    <div class="business_cont">

        <div class="init_b" id="init_b">
            <svg width="135" height="70" viewBox="0 0 1200 344" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="OFFICIAL ICON">
                    <path id="A"
                        d="M242.06 287.48L120.25 288L101.46 342.93L0 343.34L133.54 5.08996L226.08 4.70996L365.49 341.82L261.24 342.25L242.06 287.48ZM180.2 110.3L143 215.1L218.65 214.78L180.2 110.3Z"
                        fill="#00053B" />
                    <path id="I" d="M729.48 2.61021L825.41 2.22021L826.86 339.9L730.93 340.3L729.48 2.61021Z"
                        fill="#00053B" />
                    <path id="N"
                        d="M1198.54 0.660156L1200 338.34L1121.7 338.67L984.38 156L985.17 339.26L893.43 339.64L892 1.94016L974.87 1.59015L1107.59 178.21L1106.8 1.00015L1198.54 0.660156Z"
                        fill="#00053B" />
                    <path id="k" d="M396.1 5H491.93V341.67H396.1V5Z" fill="#00053B" />
                    <g id="K-1">
                        <path id="Vector"
                            d="M718.69 5.57031H629.69C629.69 5.57031 612.45 7.02032 604.69 18.6903C596.93 30.3603 479.19 173 479.19 173L530.86 236.54L718.69 5.57031Z"
                            fill="#FF7000" />
                        <path id="Vector_2"
                            d="M576.54 54.21C576.54 54.21 534.06 111.48 582.54 173.03C631.02 234.58 718.72 340.43 718.72 340.43H631.22C631.22 340.43 616 341.27 606 328.91L479.19 173L576.54 54.21Z"
                            fill="#FF7000" />
                    </g>
                </g>
            </svg>
            <h4 class="h4_init">Consultany</h4>
            <div class="dot_ball"></div>
        </div>
        <div class="business_card_cont" id="business_card_cont">
            <div class="co_photo">
                <img
                    src="https://github.com/Thethinker20/akin_main_website/assets/43387401/0f6d04c6-dfde-42ad-9f98-a6daabcfe0a0">
            </div>
            <div class="co_wave">
                <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/f20150be-94ba-48f7-9078-7e0b363f9f8e"
                    alt="">
            </div>
            <div class="akin_logo_cont">
                <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/820a5364-2841-417e-af25-659e2d880942"
                    alt="">
            </div>
            <div class="info_content">
                <div class="line_cont">
                    <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/29037db9-1cbc-4f4a-833c-e51fc57d754d"
                        alt="">
                </div>
                <div class="all_info">
                    <h1>Elfrayline Laker</h1>
                    <p class="all_name_">RPA Developer</p>
                    <p class="all_name_p">Co-Founder</p>
                    <div class="akin_text">
                        <p>Here at AKIN we have different types of services that suit your needs. <span
                                class="s_color">RPA
                                Development</span>,
                            <span class="s_color">Business Management</span> and <span class="s_color">Software Design
                                and
                                Develop</span>
                        </p>
                    </div>
                    <div class="app_info">
                        <div class="person_icon">
                            <img
                                src="https://github.com/Thethinker20/akin_main_website/assets/43387401/0df1ff5a-1adc-4066-9f30-bb70537f594d">
                            <div class="person_icon_t">
                                <p>+599 9 661 8824</p>
                            </div>
                        </div>
                        <div class="person_icon">
                            <img
                                src="https://github.com/Thethinker20/akin_main_website/assets/43387401/986bb5fe-60fd-4771-a383-653d7d6b8f0a">
                            <div class="person_icon_t">
                                <a href="">Elfrayline.laker@gmail.com</a>
                            </div>
                        </div>
                        <div class="person_icon">
                            <img
                                src="https://github.com/Thethinker20/akin_main_website/assets/43387401/4f99288b-586a-4b84-aba0-6ea0741e8fbe">
                            <div class="person_icon_t">
                                <a href="https://akin-co-website.onrender.com/home">www.akinbv_curacao.com</a>
                            </div>
                        </div>
                        <div class="person_icon">
                            <img class="per_linkedin"
                                src="https://github.com/Thethinker20/akin_main_website/assets/43387401/8da21603-b90b-4c9e-b155-d834949defc9">
                            <div class="person_icon_t">
                                <a href="https://www.linkedin.com/in/elfrayline-laker-0b642711b/">Elfrayline Laker</a>
                            </div>
                        </div>
                    </div>
                    <h1 style="padding-top: 60px;padding-left:16px;"><span class="s_color">Build</span>, automate and manage your <span
                            class="s_color">future</span></h1>
                    <img style="height: 90px;padding-top:60px;"
                        src="https://github.com/Thethinker20/akin_main_website/assets/43387401/bbd0a4dd-7b87-4429-a28e-f638b818191a">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var loader = document.getElementById('init_b');
    var main = document.getElementById('business_card_cont');
    setTimeout(() => {
        document.getElementById("init_b").style.animationName = "fadeOut";
        setTimeout(() => main.style.display = 'block',100);
        document.getElementById("business_card_cont").style.animationName = "fadeIn";
        loader.style.display = 'none'
        setTimeout(() => main.style.opacity = 1,200);
    }, 6800);
</script>

</html>