<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact Form</title>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://user-images.githubusercontent.com/43387401/227792516-aeb634a9-2adb-41a5-9289-b932e47ffe52.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/assets/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/pages/material-dashboard.min.css'>
    <link rel="stylesheet" href="/css/pages/contact_form.css">
</head>

<body>
    <div class="formbold-main-wrapper" id="particles-js">
        <div class="formbold-main-content">
            <div class="formbold-img-wrapper"></div>
            <div class="formbold-form-wrapper">
                <form id="cont_form" action="">
                    <div class="company_info" id="company_info">
                        <div class="formbold_text_cont">
                            <h2>Welcome to AKIN</h2>
                            <p class="form-p">We're excited to have you here and appreciate you taking the time to
                                fill
                                out this form.
                                Your information will help us better understand your needs and tailor our services
                                to
                                meet them.<br><br>Thank you for choosing us, and we look forward to
                                working with you!
                            </p>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">First Name</label>
                                        <input class="multisteps-form__input form-control" type="text"
                                            onfocus="focused(this)" onfocusout="defocused(this)" id="firstname"
                                            name="firstname" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Last Name</label>
                                        <input class="multisteps-form__input form-control" type="text" id="lastname"
                                            name="lastname" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Email Address</label>
                                        <input class="multisteps-form__input form-control" type="text"
                                            onfocus="focused(this)" onfocusout="defocused(this)" id="email" name="email"
                                            required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Phone Number</label>
                                        <input class="multisteps-form__input form-control" type="number" id="tnumber"
                                            name="tnumber" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons_content mt-5">
                                <button class="btn bg-gradient-dark btn_next" type="button" id="nextb_1">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="service_info" id="service_info">
                        <div class="formbold_text_cont">
                            <h3 class="form-p">Enter here your company information</h3>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Company Name</label>
                                        <input class="multisteps-form__input form-control" type="text"
                                            onfocus="focused(this)" onfocusout="defocused(this)" id="comp_name"
                                            name="comp_name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <select class="multisteps-form__input form-control" type="text" id="services"
                                            name="services" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                            <option "0">Services</option>
                                            <option value="Rpa Consultancy">Rpa Consultancy</option>
                                            <option value="Business Managment">Business Managment</option>
                                            <option value="Software Development">Software Development</option>
                                            <option value="Courses">Courses</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <select class="multisteps-form__input form-control" type="text" id="n_goals"
                                            name="n_goals" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                            <option "0">Select Needs and Goals</option>
                                            <option value="Increase efficiency">Increase efficiency</option>
                                            <option value="Reduce costs">Reduce costs</option>
                                            <option value="Improve customer satisfaction">Improve customer satisfaction</option>
                                            <option value="Business improvement and update">Business improvement and update</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <select class="multisteps-form__input form-control" type="text" id="l_expert"
                                            name="l_expert" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                            <option "0">Select level of expertise</option>
                                            <option value="Entry-level">Entry-level</option>
                                            <option value="Intermediate">Intermediate</option>
                                            <option value="Advanced">Advanced</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <select class="multisteps-form__input form-control" type="text" id="timeline"
                                            name="timeline" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                            <option "0">Select a timeline</option>
                                            <option value="ASAP">ASAP</option>
                                            <option value="Within the next month">Within the next month</option>
                                            <option value="Within the next quarter">Within the next quarter</option>
                                            <option value="Not defined">Not defined</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons_content mt-5">
                                <button class="btn bg-gradient-secondary btn_back" type="button"
                                    id="backb_2">Back</button>
                                <button class="btn bg-gradient-dark btn_next" type="button" id="nextb_2">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="end_info" id="end_info">
                         <div class="formbold_text_cont">
                            <h3 class="form-p">Final Information</h3>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <select class="multisteps-form__input form-control" type="text" id="factors"
                                            name="factors" onfocus="focused(this)" onfocusout="defocused(this)"
                                            required>
                                            <option "0">Select a factor</option>
                                            <option value="Reputation">Reputation</option>
                                            <option value="Cost">Cost</option>
                                            <option value="Expertise">Expertise</option>
                                            <option value="Responsiveness">Responsiveness</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group input-group-dynamic">
                                        <label class="form-label">Extra Information</label>
                                        <input class="multisteps-form__input form-control" type="text"
                                            onfocus="focused(this)" onfocusout="defocused(this)" id="message"
                                            name="message">
                                    </div>
                                </div>
                            </div>
                            <div class="buttons_content mt-5">
                                <button class="btn bg-gradient-secondary btn_back" type="button"
                                    id="backb_3">Back</button>
                                <button class="btn bg-gradient-dark btn_next" type="submit" id="submit_b">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.js"></script>
    <script src="/js/pages/material-dashboard.min.js"></script>
    <script src="/js/pages/contact_form.js"></script>
</body>

</html>