<section class="cont_header">
    <div class="cont_overlay">
        <div class="container">
            <div class="row" style="padding-top:300px;margin-left:0px;">
                <div class="header_txt">
                    <h2>Contact Us</h2>
                    <p>Home - <span>Contact Us</span></p>
                </div>
            </div>
        </div>
        <div class="header_boxC">
            <div class="header_box">
                <p>Home - Contact Us</p>
            </div>
        </div>
    </div>
</section>
<section class="contact_form">
    <div class="contact_cont">
        <div class="row">
            <div class="col-lg-6" style="padding-right: 0px;">
                <div class="cont_form_box">
                    <h2>Contact Us</h2>
                    <form class="cont_form" action="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="input_form" id="name" placeholder="Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="input_form" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 50px;">
                            <div class="col-lg-6">
                                <input type="text" class="input_form" id="name" placeholder="Company Name" required>
                            </div>
                            <div class="col-lg-6">
                                <select class="input_form" name="services" id="services"
                                    style="padding: 11px 21px; color:rgb(106, 106, 106);">
                                    <option value="" disabled selected>Select a services</option>
                                    <option value="1">Rpa_consultant</option>
                                    <option value="2">Project Management</option>
                                    <option value="3">Software Develop</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 50px;">
                            <div class="col-lg-6">
                            <input type="text" class="input_form" id="tnumber" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <button class="submit_cont" type="submit"><i class="fa-solid fa-paper-plane"></i>Start Your Future</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6" style="padding-left: 0px;">
                <div class="cont_form_detail">
                    <div class="cont_form_d_b">
                        <div class="row" style="padding-top: 40px;">
                            <div class="col-lg-3">
                                <div class="icon_box_d"><i class="fa-regular fa-envelope"></i></div>
                            </div>
                            <div class="col-lg-9">
                                <h5 class="detail_txt" >Our Email Address</h5>
                                <p class="detail_p">info.akin.co@gmail.com</p>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 70px;">
                            <div class="col-lg-3">
                                <div class="icon_box_d"><i class="fa-solid fa-mobile-screen"></i></div>
                            </div>
                            <div class="col-lg-9">
                                 <h5 class="detail_txt" >Our Email Address</h5>
                                <p class="detail_p">info.akin.co@gmail.com</p>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 70px;">
                            <div class="col-lg-3">
                                <div class="icon_box_d"><i class="fa-solid fa-location-dot"></i></div>
                            </div>
                            <div class="col-lg-9">
                                 <h5 class="detail_txt" >Our Email Address</h5>
                                <p class="detail_p">info.akin.co@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.4054861503166!2d-68.8836987419567!3d12.125082420228068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e837d407e17580b%3A0xf95a4fb2faddff57!2s146-152%20Santa%20Rosaweg%2C%20Willemstad%2C%20Cura%C3%A7ao!5e0!3m2!1sen!2snl!4v1680232286554!5m2!1sen!2snl" style="height:500px; width:100%;border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>