<link href="css/pages/courses.css" type='text/css' rel="stylesheet" />


<section class="header_course">
    <div class="h_course">
        <div class="h_text_l">
            <p class="p_head">EXCELLENCE IN EDUCATION</p>
            <h1>Start Better Learning Future From Here</h1>
            <p class="p_head_2">Empower yourself with the knowledge and skills gained through our courses! The key to
                your future!
            </p>

        </div>
        <div class="h_text_r">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card_box_cont">
                        <div class="card_1">
                            <div class="img_cont_1">
                                <p>Recent</p>
                            </div>
                            <div class="card_1_cont">
                                <div class="icons_head">
                                    <div class="icon_1">
                                        <i class="fa-solid fa-list-ul"></i>
                                        <p>10 Lessons</p>
                                    </div>
                                    <div class="icon_2">
                                        <i class="fa-regular fa-clock"></i>
                                        <p>10 Lessons</p>
                                    </div>
                                </div>
                                <h5>Learn how to work with Agile Scrum</h5>
                                <div class="box_line"></div>
                            </div>
                        </div>
                        <div class="card_2">
                            <div class="card_2_content">
                                <div class="box_cont">
                                    <img src="/media/html_icon.png" alt="">
                                    <div class="txt_cont">
                                        <h6>HTML Beginner Workshop</h6>
                                        <p>Today at 5pm</p>
                                    </div>
                                </div>
                                <a href="/" class="button_card_2">Join!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card_3">
                        <div class="img_cont_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="workshop_section">
    <img class="dot_workshop" src="media/Group 62.png" alt="">
    {{!-- <div class="back_circle_left"></div> --}}
    <div class="workshop_text">
        <p class="work_p_header">Learn Update and Design</p>
        <h3 class="work_h_header">Our Courses and Workshops</h3>
    </div>
    <div class="back_circle_buttom"></div>
    <div class="work_boxes">
        <div class="work_box_content">
            <div class="row">
                <div class="col-lg-3">
                    <article class="card_">
                        <header class="card__thumb">
                            <a href="#"><img src="media/card.png" /></a>
                        </header>
                        <date class="card__date">
                            <span class="card__date__day">11</span>
                            <br />
                            <span class="card__date__month">Jan</span>
                        </date>
                        <div class="card__body">
                            <div class="card__category"><a href="#">pet</a></div>
                            <h2 class="card__title"><a href="#">Agile Scrum II</a></h2>
                            <div class="card__subtitle">an ice cream sundae party！</div>
                            <p class="card__description">5. Pour the mixture into a non-stick container and then freeze
                                overnight. Take treating your dog a step further by turning it into an ice cream sundae
                                party!</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> 10 mins ago
                            <span class="icon ion-chatbox"></span><a href="#"> 145 comments</a>
                        </footer>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="card_">
                        <header class="card__thumb">
                            <a href="#"><img src="media/card.png" /></a>
                        </header>
                        <date class="card__date">
                            <span class="card__date__day">11</span>
                            <br />
                            <span class="card__date__month">Jan</span>
                        </date>
                        <div class="card__body">
                            <div class="card__category"><a href="#">pet</a></div>
                            <h2 class="card__title"><a href="#">HTML for
                                    Beginner</a></h2>
                            <div class="card__subtitle">an ice cream sundae party！</div>
                            <p class="card__description">5. Pour the mixture into a non-stick container and then freeze
                                overnight. Take treating your dog a step further by turning it into an ice cream sundae
                                party!</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> 10 mins ago
                            <span class="icon ion-chatbox"></span><a href="#"> 145 comments</a>
                        </footer>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="card_">
                        <header class="card__thumb">
                            <a href="#"><img src="media/card.png" /></a>
                        </header>
                        <date class="card__date">
                            <span class="card__date__day">11</span>
                            <br />
                            <span class="card__date__month">Jan</span>
                        </date>
                        <div class="card__body">
                            <div class="card__category"><a href="#">pet</a></div>
                            <h2 class="card__title"><a href="#">Javascript</a></h2>
                            <div class="card__subtitle">an ice cream sundae party！</div>
                            <p class="card__description">5. Pour the mixture into a non-stick container and then freeze
                                overnight. Take treating your dog a step further by turning it into an ice cream sundae
                                party!</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> 10 mins ago
                            <span class="icon ion-chatbox"></span><a href="#"> 145 comments</a>
                        </footer>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="card_">
                        <header class="card__thumb">
                            <a href="#"><img src="media/card.png" /></a>
                        </header>
                        <date class="card__date">
                            <span class="card__date__day">11</span>
                            <br />
                            <span class="card__date__month">Jan</span>
                        </date>
                        <div class="card__body">
                            <div class="card__category"><a href="#">pet</a></div>
                            <h2 class="card__title"><a href="#">Agile Scrum Exam</a></h2>
                            <div class="card__subtitle">an ice cream sundae party！</div>
                            <p class="card__description">5. Pour the mixture into a non-stick container and then freeze
                                overnight. Take treating your dog a step further by turning it into an ice cream sundae
                                party!</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> 10 mins ago
                            <span class="icon ion-chatbox"></span><a href="#"> 145 comments</a>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="learn_work">
    <div class="learn_work_cont">
        <div class="learn_header">
            <h1 class="">Learn Agile Scrum from Scratch</h1>
            <div class="header_info">
                <p>Make your business shine online with a custom software, website and mobile app designed just for you
                    by a professional designer. Need ideas? We’ve collected some amazing examples of software websites
                    from </p>
                <a href="#" class="header_bottom">Get Started!</a>
            </div>
        </div>
        <div class="learn_photo_cont">
            <div class="photo_line_back"></div>
            <div class="flip-card ">
                <div class="cards">
                    <div class="front"><img src="/media/courses_img 2.png"></div>
                    <div class="back"> </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="schedule_section">
    <div class="schedule_header">
        <h1>Date - Time</h1>
        <p>Of our Courses</p>
    </div>
    <div class="schedule_content">
        <div class="row">
            <div class="col-lg-4">
                <div class="calendar">
                    <div class="calendar_body">
                        <div class="month_name">Agile Scrum</div>
                        <div class="day_name">Month</div>
                        <div class="date_number">00</div>
                        <div class="year">0000</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="calendar">
                    <div class="calendar_body">
                        <div class="month_name">Month</div>
                        <div class="day_name">Day</div>
                        <div class="date_number">00</div>
                        <div class="year">0000</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="calendar">
                    <div class="calendar_body">
                        <div class="month_name">Month</div>
                        <div class="day_name">Day</div>
                        <div class="date_number">00</div>
                        <div class="year">0000</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="final_course">
 <div class="i_circle"></div>
            <h3>Start Learning today with us!</h3>
            <a href="/contactus" class="team_button">Contact Us</a>
</section>