<link href="css/pages/courses.css" type='text/css' rel="stylesheet" />

{{!-- <section class="header_course">
    <div class="h_course">
        <div class="h_text_l">
            <p class="p_head">EXCELLENCE IN EDUCATION</p>
            <h1>Start Better Learning Future From Here</h1>
            <p class="p_head_2">Empower yourself with the knowledge and skills gained through our courses! The key to
                your future!
            </p>

        </div>
        <div class="h_text_r">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card_box_cont">
                        <div class="card_1">
                            <div class="img_cont_1">
                                <p>Recent</p>
                            </div>
                            <div class="card_1_cont">
                                <div class="icons_head">
                                    <div class="icon_1">
                                        <i class="fa-solid fa-list-ul"></i>
                                        <p>10 Lessons</p>
                                    </div>
                                    <div class="icon_2">
                                        <i class="fa-regular fa-clock"></i>
                                        <p>10 Lessons</p>
                                    </div>
                                </div>
                                <h5>Learn how to work with Agile Scrum</h5>
                                <div class="box_line"></div>
                            </div>
                        </div>
                        <div class="card_2">
                            <div class="card_2_content">
                                <div class="box_cont">
                                    <img src="/media/html_icon.png" alt="">
                                    <div class="txt_cont">
                                        <h6>HTML Beginner Workshop</h6>
                                        <p>Today at 5pm</p>
                                    </div>
                                </div>
                                <a href="/" class="button_card_2">Join!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card_3">
                        <div class="img_cont_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}

<div class="sections">
    <h1>Coming soon</h1>
</div>