<link href="css/pages/rpa.css" type='text/css' rel="stylesheet" />

<header>
    <!-- First container -->
    <div class="container_rpa container_solid">
        <div class="title_wrapper">
            <h1>Robotic process automation</h1>
        </div>
    </div>
    <!-- Second container -->
    <div class="container_rpa container_image" aria-hidden="true" id="rpa_part">
        <div class="title_wrapper">
            <h1>Robotic process automation</h1>
        </div>
    </div>
</header>

<section class="what_rpa">
    <div class="what_rpa_content">
        <h3>What is <span>RPA</span>?</h3>
        <p class="what_p">Robotic Process Automation</p>
        <p class="what_p2">
            Robotic process automation (RPA) is a software technology that makes it easy to build, deploy, and manage
            software robots that emulate humans actions interacting with digital systems and software. Just like people,
            software robots can do things like understand what’s on a screen, complete the right keystrokes, navigate
            systems, identify and extract data, and perform a wide range of defined actions. But software robots can do
            it faster and more consistently than people, without the need to get up and stretch or take a coffee break.
        </p>
    </div>
</section>
<section class="rpa_benefit">
    <div class="rpa_benefit_content">
        <div class="sub_header_rpa">
            <div class="rpa_line"></div>
            <h5>Robot Benefits</h5>
        </div>
        <h2>
            Benefits of RPA Automation
        </h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="ben_txt">
                    <div class="b_t " id="change_1">Cost-Effective</div>
                    <div class="b_t b_active" id="change_2">Accuracy & Quality</div>
                    <div class="b_t" id="change_3">Increased Customer Satisfaction</div>
                    <div class="b_t" id="change_4">Increased Employee Productivity</div>
                    <div class="b_t" id="change_5">Boosted productivity</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content_benefit">
                    <div class="ben_txt_2"></div>
                    <div class="ben_txt_2_content">
                        <h4 id="ben_txt_2_p">Customer Satisfaction</h4>
                    </div>
                </div>
                <div class="content_b_txt" id="content_b_txt1">
                    <p>It has been estimated that using robotics cuts operational costs by as much as 25-50%. Robots can
                        operate 24/7 and take no vacation when compared to humans, who work 8/5 and have a pre-fixed
                        number of annual leaves each year. Having robots take over some of the manually intensive work
                        from humans could result in visible gains for the business. Automation can help you recover the
                        cost within a short time span and from then on, it is all only about gains!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rpa_in_akin">
    <img class="column_dot" src="media/dreamit-shape.png" alt="">
    <img class="column_top" src="media/columns.png" alt="">
    <img class="column_top_2" src="media/columns.png" alt="">
    <div class="row">
        <div class="col-lg-6">
            <div class="rpa_in_akin_content">
                <div class="rpa_in_akin_box">
                    <div class="rpa_box_cont_1">
                        <a href="" class="aki_box_back_1">
                            <div class="row p-4">
                                <div class="col-md-2">
                                    <div class="aki_icon">
                                        <svg width="42" height="36" viewBox="0 0 42 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M42 18C40.8537 23.1585 38.4326 27.1764 33.964 30.5C30.6363 32.975 25.9504 35.5 21 35.5C16.8155 34.7189 12.7947 31.5267 8.46399 28.5C4.47793 25.7142 0 23 0 18C1.96399 13 5.99138 9.89552 9.46399 7C13.9238 3.28129 16.5022 0.562228 21 0C25.464 1 28.9285 2.61736 32.964 6C36.6519 9.09133 41.045 14.4187 42 18Z"
                                                fill="#090F3A" />
                                            <path d="M18.486 14.722V11.86L23.472 11.86V25H20.268V14.722H18.486Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="akin_box_text">
                                        <h6>RPA Strategy Development</h6>
                                        <p>We work with you to develop an RPA strategy that aligns with your business
                                            goals and objectives.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="rpa_box_cont_2">
                        <a href="" class="aki_box_back_2">
                            <div class="row p-4">
                                <div class="col-md-2">
                                    <div class="aki_icon">
                                        <svg width="42" height="36" viewBox="0 0 42 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M42 18C40.8537 23.1585 38.4326 27.1764 33.964 30.5C30.6363 32.975 25.9504 35.5 21 35.5C16.8155 34.7189 12.7947 31.5267 8.46399 28.5C4.47793 25.7142 0 23 0 18C1.96399 13 5.99138 9.89552 9.46399 7C13.9238 3.28129 16.5022 0.562228 21 0C25.464 1 28.9285 2.61736 32.964 6C36.6519 9.09133 41.045 14.4187 42 18Z"
                                                fill="#090F3A" />
                                            <path
                                                d="M16.702 22.534C17.11 22.21 17.296 22.06 17.26 22.084C18.436 21.112 19.36 20.314 20.032 19.69C20.716 19.066 21.292 18.412 21.76 17.728C22.228 17.044 22.462 16.378 22.462 15.73C22.462 15.238 22.348 14.854 22.12 14.578C21.892 14.302 21.55 14.164 21.094 14.164C20.638 14.164 20.278 14.338 20.014 14.686C19.762 15.022 19.636 15.502 19.636 16.126H16.666C16.69 15.106 16.906 14.254 17.314 13.57C17.734 12.886 18.28 12.382 18.952 12.058C19.636 11.734 20.392 11.572 21.22 11.572C22.648 11.572 23.722 11.938 24.442 12.67C25.174 13.402 25.54 14.356 25.54 15.532C25.54 16.816 25.102 18.01 24.226 19.114C23.35 20.206 22.234 21.274 20.878 22.318L25.738 22.318V24.82L16.702 24.82V22.534Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="akin_box_text">
                                        <h6>Process Automation</h6>
                                        <p>We automate your processes, from simple repetitive tasks to complex
                                            workflows, using the latest RPA technologies.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="rpa_box_cont_3">
                        <a href="" class="aki_box_back_3">
                            <div class="row p-4">
                                <div class="col-md-2">
                                    <div class="aki_icon">
                                        <svg width="42" height="36" viewBox="0 0 42 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M42 18C40.8537 23.1585 38.4326 27.1764 33.964 30.5C30.6363 32.975 25.9504 35.5 21 35.5C16.8155 34.7189 12.7947 31.5267 8.46399 28.5C4.47793 25.7142 0 23 0 18C1.96399 13 5.99138 9.89552 9.46399 7C13.9238 3.28129 16.5022 0.562228 21 0C25.464 1 28.9285 2.61736 32.964 6C36.6519 9.09133 41.045 14.4187 42 18Z"
                                                fill="#090F3A" />
                                            <path
                                                d="M15.918 15.568C15.966 14.284 16.386 13.294 17.178 12.598C17.97 11.902 19.044 11.554 20.4 11.554C21.3 11.554 22.068 11.71 22.704 12.022C23.352 12.334 23.838 12.76 24.162 13.3C24.498 13.84 24.666 14.446 24.666 15.118C24.666 15.91 24.468 16.558 24.072 17.062C23.676 17.554 23.214 17.89 22.686 18.07V18.142C23.37 18.37 23.91 18.748 24.306 19.276C24.702 19.804 24.9 20.482 24.9 21.31C24.9 22.054 24.726 22.714 24.378 23.29C24.042 23.854 23.544 24.298 22.884 24.622C22.236 24.946 21.462 25.108 20.562 25.108C19.122 25.108 17.97 24.754 17.106 24.046C16.254 23.338 15.804 22.27 15.756 20.842H18.744C18.756 21.37 18.906 21.79 19.194 22.102C19.482 22.402 19.902 22.552 20.454 22.552C20.922 22.552 21.282 22.42 21.534 22.156C21.798 21.88 21.93 21.52 21.93 21.076C21.93 20.5 21.744 20.086 21.372 19.834C21.012 19.57 20.43 19.438 19.626 19.438H19.05V16.936H19.626C20.238 16.936 20.73 16.834 21.102 16.63C21.486 16.414 21.678 16.036 21.678 15.496C21.678 15.064 21.558 14.728 21.318 14.488C21.078 14.248 20.748 14.128 20.328 14.128C19.872 14.128 19.53 14.266 19.302 14.542C19.086 14.818 18.96 15.16 18.924 15.568H15.918Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="akin_box_text">
                                        <h6>Implementation</h6>
                                        <p>Our team of experts implements RPA solutions that are customized to meet your
                                            specific needs.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="rpa_box_cont_4">
                        <a href="" class="aki_box_back_4">
                            <div class="row p-4">
                                <div class="col-md-2">
                                    <div class="aki_icon">
                                        <svg width="42" height="36" viewBox="0 0 42 36" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M42 18C40.8537 23.1585 38.4326 27.1764 33.964 30.5C30.6363 32.975 25.9504 35.5 21 35.5C16.8155 34.7189 12.7947 31.5267 8.46399 28.5C4.47793 25.7142 0 23 0 18C1.96399 13 5.99138 9.89552 9.46399 7C13.9238 3.28129 16.5022 0.562228 21 0C25.464 1 28.9285 2.61736 32.964 6C36.6519 9.09133 41.045 14.4187 42 18Z"
                                                fill="#090F3A" />
                                            <path
                                                d="M15.882 22.66V20.176L21.57 12.04L25.008 12.04V19.996H26.484V22.66H25.008V25L21.93 25V22.66H15.882ZM22.146 15.424L19.122 19.996H22.146V15.424Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="akin_box_text">
                                        <h6>Maintenance and Support</h6>
                                        <p>We provide ongoing maintenance and support to ensure your RPA solutions
                                            continue to deliver results.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="rpa_akin_background">
                <h3>Know about all AKIN
                    <span>RPA</span> services
                </h3>
                <div class="lines">
                    <div class="line"></div>
                </div>
                <div class="aki_text">RPA-Consultant by <span>AKIN</span></div>
                <p>AKIN is the best provider of Robotic Process Automation (RPA) here in Curacao. At AKIN, we help
                    organizations automate their processes, improve efficiency, and reduce costs through the power
                    of
                    RPA.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="faq-section">
    <img class="rpa_globe_back"
        src="https://user-images.githubusercontent.com/43387401/226220457-3dcf4622-36b9-4fc7-a05c-9b43decf4316.png"
        alt="">
    {{!-- <div class="floaty">
        <img src="media/cell_top.png" alt="">
    </div> --}}
    <div class="container">
        <div class="row">
            <!-- ***** FAQ Start ***** -->
            <div class="col-md-6 offset-md-3">

                <div class="faq-title text-center pb-3">
                    <h2>FAQ</h2>
                </div>
            </div>
            <div class="col-md-12 offset-md-1">
                <div class="faq_content">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1"
                                        data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                        <span class="badge">1</span>Where can RPA be used?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                        data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                        <span class="badge">2</span> What features and capabilities are important in RPA
                                        technology?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a
                                        piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3"
                                        data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                        <span class="badge">3</span>Why is RPA the fastest-growing enterprise software
                                        in the world?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that
                                        it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content
                                        here, content here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4"
                                        data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                        <span class="badge">4</span>Is RPA the same as artificial intelligence (AI)?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have
                                        suffered alteration in some form, by injected humour, or randomised words which
                                        don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq_more_content">
        <h3 class="faq_more">Contact us today to learn more about AKIN RPA
            {{!-- <a class="faq_button" href="/contactus"><img src="media/arrow_white 1.png" alt=""></a> --}}
            <div class="text-box">
                <a href="/contactus" class="btn btn-white btn-animate">click me</a>
            </div>
        </h3>
    </div>

</section>
<section class="metodologia">
<h2>What you can do with RPA</h2>
</section>

<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/pages/rpa.js"></script>