<link href="css/pages/rpa.css" type='text/css' rel="stylesheet" />

<header>
    <!-- First container -->
    <div class="container_rpa container_solid">
        <div class="title_wrapper">
            <h1>Robotic process automation</h1>
        </div>
    </div>
    <!-- Second container -->
    <div class="container_rpa container_image" aria-hidden="true" id="rpa_part">
        <div class="title_wrapper">
            <h1>Robotic process automation</h1>
        </div>
    </div>
</header>

<section class="what_rpa">
    <div class="what_rpa_content">
        <h3>What is <span>RPA</span>?</h3>
        <p class="what_p">Robotic Process Automation</p>
        <p class="what_p2">
            Robotic process automation (RPA) is a software technology that makes it easy to build, deploy, and manage
            software robots that emulate humans actions interacting with digital systems and software. Just like people,
            software robots can do things like understand what’s on a screen, complete the right keystrokes, navigate
            systems, identify and extract data, and perform a wide range of defined actions. But software robots can do
            it faster and more consistently than people, without the need to get up and stretch or take a coffee break.
        </p>
    </div>
</section>
<section class="rpa_benefit">
    <div class="rpa_benefit_content">
        <div class="sub_header_rpa">
            <div class="rpa_line"></div>
            <h5>Robot Benefits</h5>
        </div>
        <h2>
            Benefits of RPA Automation
        </h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="ben_txt">
                    <div class="b_t b_active" id="change_1">Cost-Effective</div>
                    <div class="b_t " id="change_2">Accuracy & Quality</div>
                    <div class="b_t" id="change_3">Increased Customer Satisfaction</div>
                    <div class="b_t" id="change_4">Increased Employee Productivity</div>
                    <div class="b_t" id="change_5">Boosted productivity</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content_benefit">
                    <div class="ben_txt_2"></div>
                    <div class="ben_txt_2_content">
                        <h4 id="ben_txt_2_p">Customer Satisfaction</h4>
                    </div>
                </div>
                <div class="content_b_txt" id="content_b_txt1">
                    <p>It has been estimated that using robotics cuts operational costs by as much as 25-50%. Robots can
                        operate 24/7 and take no vacation when compared to humans, who work 8/5 and have a pre-fixed
                        number of annual leaves each year. Having robots take over some of the manually intensive work
                        from humans could result in visible gains for the business. Automation can help you recover the
                        cost within a short time span and from then on, it is all only about gains!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="/js/pages/rpa.js"></script>