<link href="css/pages/services.css" type='text/css' rel="stylesheet" />
<section class="cont_header">
  <div class="cont_overlay">
    <div class="container">
      <div class="row" style="padding-top:300px;margin-left:0px;">
        <div class="header_txt">
          <h2>Our Services</h2>
          <p>Home - <span>Our Services</span></p>
        </div>
      </div>
    </div>
    <div class="header_boxC">
      <div class="header_box">
        <p>Home - Our Services</p>
      </div>
    </div>
  </div>
</section>
<section class="rpa_start">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-0 pl-0 pr-0 mt-5">
        <div class="sub_header_rpa">
          <div class="rpa_line"></div>
          <h5>About RPA</h5>
        </div>
        <h2 class="rpa_start_txt">Start Aiming To The Future With <span class="rpa_span_txt">RPA </span>(Robotic process
          automation)
        </h2>
        <p class="rpa_p_txt">
          With RPA software we can create software robots, or “bots”, that can learn, mimic, and then execute
          rules-based business processes. RPA automation enables us to create bots by observing human digital actions.
          Show the bots what to do, then let them do the work.
        </p>
        <div class="about-button">
          <a href="/rpa" style="margin-top: 7px;"> More About <i class="bi bi-plus"></i></a>
        </div>
      </div>
      <div class="col-lg-6 ml-0 pl-0 pr-0">
        <div class="rpa_box_1"></div>
        <img src="https://user-images.githubusercontent.com/43387401/231306063-d01b5477-9792-4410-a2f7-81676cf799bd.jpg"
          class="rpa_image_1" alt="">
      </div>
    </div>
  </div>
</section>
<section class="pro_manage">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-0 pl-0 pr-0 mt-5">
        <div class="prod_manage_box"></div>
        <img src="https://user-images.githubusercontent.com/43387401/231306063-d01b5477-9792-4410-a2f7-81676cf799bd.jpg"
          class="prod_manage_img" alt="">
      </div>
      <div class="col-lg-7 ml-0 pl-0 pr-0 mt-5">
        <h2 class="prod_manage_txt">Build, Manage and Organize The Best <span>Infrastructure</span> For Your Business
        </h2>
        <p class="prod_manage_p">Management is the administration of organizations, whether they are a business, a
          nonprofit organization, or a government body. It is the art and science of managing resources of the business.
          In the simplest of terms, business management refers to the coordination and administration of business
          activities, tasks, and resources to achieve a set objective.</p>
        <div class="pmag-button">
          <a href="/projectmanage" style="margin-top: 7px;"> More About <i class="bi bi-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="soft_dev">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-0 pl-0 pr-0 mt-5">
        <div class="sub_header_rpa" style="margin-top: 70px;">
          <div class="rpa_line"></div>
          <h5>About Software</h5>
        </div>
        <h2 class="rpa_start_txt" style="width:440px;">This is The Your First Steps To Have a <span
            class="rpa_span_txt">Software</span>
        </h2>
        <p class="rpa_p_txt" style="width:600px;">
          New software businesses are created constantly in order to leverage the latest innovations in technology
          through various services and products. Helping your company to be introduce of be more involve in the 4.0
          industry world of today.
        </p>
        <div class="about-button">
          <a href="/soft_dev" style="margin-top: 7px;"> More About <i class="bi bi-plus"></i></a>
        </div>
      </div>
      <div class="col-lg-6 ml-0 pl-0 pr-0">
        <div class="rpa_box_1" style=" width: 625px;height: 215px;left: -59px;top: 16px;"></div>
        <img src="https://user-images.githubusercontent.com/43387401/231306063-d01b5477-9792-4410-a2f7-81676cf799bd.jpg"
          class="rpa_image_1" alt="">
      </div>
    </div>
  </div>
</section>
<section class="deliver_sec">
  <div class="deliver_content">
    <div class="row">
      <div class="deliver_play_button" onclick="this.classList.toggle('active')">
        <div class="fondo" x="0" y="0" width="200" height="200"></div>
        <div class="icono" width="200" height="200">
          <div class="parte izquierda" x="0" y="0" width="200" height="200" fill="#fff"></div>
          <div class="parte derecha" x="0" y="0" width="200" height="200" fill="#fff"></div>
        </div>
        <div class="puntero"></div>
      </div>
    </div>
    <div class="row" style="flex-direction:column;justify-content:center;align-items: center;">
      <h2 class="deliver_h_txt">We Deliver Solution With The Goal Of
        A Trusting Relationships</h2>
      <p class="deliver_p_txt">Appropriate for your specific business, making it easy for you to have quality IT
        services.
      </p>
      <a class="deliver_button" href="/about">Learn More</a>
    </div>
  </div>
</section>
<section class="last_prod">
  <div class="last_prod_box_content">
    <div class="row">
      <div class="col-lg-4">
        <a class="last_box">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-chalkboard"></i>
          <h3>Business Planning</h3>
          <p>Appropriately enhance principle-cent standards in platforms. Credibly orch popular services.</p>
          <div class="lines_l">
            <div class="line_l"></div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="last_box">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-cloud"></i>
          <h3>Cloud Solutions</h3>
          <p>Appropriately enhance principle-cent standards in platforms. Credibly orch popular services.</p>
          <div class="lines_l">
            <div class="line_l"></div>
          </div>
        </a>
        </div>
      <div class="col-lg-4">
        <a class="last_box">
          <i class="fa-solid fa-circle"></i>
          <i class="fa-solid fa-user-check"></i>
          <h3>Customer Service</h3>
          <p>Appropriately enhance principle-cent standards in platforms. Credibly orch popular services.</p>
          <div class="lines_l">
            <div class="line_l"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row"></div>
</section>