<link href="css/pages/soft_dev.css" type='text/css' rel="stylesheet" />
<section class="soft_back">
    <div class="soft_overflow">
        <div class="container">
            <div class="soft_header">
                <h3>Software Developer</h3>
                <p>Web, Desktop & Phone</p>
            </div>
        </div>
        <div class="soft_box_cont">
            <div class="soft_box">
                <p>Web, Desktop & Phone</p>
            </div>
        </div>
    </div>
</section>
<section class="soft_start">
    <div class="container">
        <div class="soft_start_content">
            <span>Keep up-to-date</span>
            <h3>Don't be left behind,<br>
                Start booking your future with us! </h3>
            <p>Make your business shine online with a custom software, website and mobile app designed just for you by a
                professional designer. Need ideas? We’ve collected some amazing examples of software websites from our
                global community of designers. Get inspired and start planning the perfect software, web and mobile app
                design today.</p>
        </div>
    </div>
</section>
<section class="akin_dev">
    <div class="akin_dev_header">
        <h3>Custom Software Development</h3>
        <p class="akin_dev_header_p">We create customized software solutions that are tailored to meet your
            specific business needs.</p>
    </div>
    <div class="akin_tab">
        <div class="akin_tab_cont">
            <div class="akin_tab_cont_overlay">
                <div class="akin_dev_boxL"></div>
                <div class="akin_dev_box_c1" id="akin_dev_box_c1">
                    <div class="akin_dev_box">
                        <h3>Custom Software Development</h3>
                        <div class="akin_line"></div>
                        <p class="akin_dev_header_p">We create customized software solutions that are tailored to meet
                            your specific business
                            needs.
                            Tell
                            us your idea and we will make a good and stable software for your daily use</p>

                    </div>
                </div>
                <div class="akin_dev_box_c2" id="akin_dev_box_c2">
                    <div class="akin_dev_box">
                        <h3>Software Integration</h3>
                        <div class="akin_line"></div>
                        <p class="akin_dev_header_p">We create customized software solutions that are tailored to meet
                            your specific business
                            needs.
                            Tell
                            us your idea and we will make a good and stable software for your daily use</p>

                    </div>
                </div>
                <div class="akin_dev_box_c3" id="akin_dev_box_c3">
                    <div class="akin_dev_box">
                        <h3>Software Maintenance and Support</h3>
                        <div class="akin_line"></div>
                        <p class="akin_dev_header_p">We create customized software solutions that are tailored to meet
                            your specific business
                            needs.
                            Tell
                            us your idea and we will make a good and stable software for your daily use</p>

                    </div>
                </div>
                <div class="akin_dev_boxR"></div>
            </div>
        </div>
        <div class="akin_tabs">
            <img class="akin_tabs_back"
                src="https://user-images.githubusercontent.com/43387401/235376008-6d2bc043-3dd8-4a7f-9515-cd6ef12ac056.png"
                alt="">
            <div class="akin_tabs_cont">
                <h2>AKIN <span>Software</span> Development</h2>
                <p class="akin_tabs_cont_p">Click one of us -></p>
                <div class="lines_l">
                    <div class="line_l"></div>
                </div>
                <div class="text_p_change">
                    <div class="p_change active" id="p_change_1">Custom Software Development</div>
                    <div class="p_change" id="p_change_2">Software Integration</div>
                    <div class="p_change" id="p_change_3">Software Maintenance and Support</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="web_dev">
    <div class="web_dev_L">
        <div class="web_dev_L_cont">
            <h3>We build <span>websites</span> and <span>web</span> applications using the latest technologies and
                frameworks</h3>
            <p>We use a range of technologies and programming languages to build software solutions that meet your
                specific requirements. Some of the technologies we specialize in include Java, .NET, ReactJs, and C#.
            </p>
            <div class="lines_l" style="margin-top: 65px;margin-bottom: 50px;">
                <div class="line_l" style="width: 69%;"></div>
            </div>
            <p>
                We use a comprehensive software development methodology that includes the following steps:
                <br><br>
                1. Requirements Gathering and Analysis<br>
                2. Solution Design and Development<br>
                3. Testing and Quality Assurance<br>
                4. Implementation and Deployment<br>
                5. Maintenance and Support
            </p>
        </div>
    </div>
    <div class="web_dev_R">
        <div class="first_web_dev_r">
            <div class="first_web_dev_r_content_1">
                <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/8341b7ad-e8a0-48ea-9185-485c75ced28e"
                    alt="">
            </div>
            <div class="first_web_dev_r_content_2">
                <div class="web_dev_r_box">
                    <div class="web_dev_r_box_t">
                        <p class="web_p_1">Responsive for all devices</p>
                        <p class="web_p_2">Web Browser</p>
                        <p class="web_p_2_1">Tablets</p>
                        <p class="web_p_2_2">Smart Phones</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="center_web_dev_r">
            <h3>Web Development</h3>
        </div>
        <div class="last_web_dev_r">
            <div class="first_web_dev_r_content_last">
                <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/7753e410-96f8-4935-add0-1d57822cbc1a"
                    alt="">
                <div class="cont_box_first"></div>
            </div>
            <div class="first_web_dev_r_content_lastL">
                <img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/75824c7c-6ae5-43e7-98d1-339ec37ef172"
                    alt="">
            </div>
        </div>
    </div>
</section>
<section class="mobile_section">
    <div class="mobile_l">
<img src="https://github.com/Thethinker20/akin_main_website/assets/43387401/7b439053-31a7-46db-af1c-707e3c8982a1" alt="">


    </div>
    <div class="mobile_r">
        <h4>We design and develop mobile apps for <span>iOS</span> and <span>Android</span> devices</h4>
    </div>
</section>
<section class="soft_dev_foot">
    <div class="soft_dev_foot_content">
        <img src="/media/flutter.png" alt="">
        <img src="/media/react.png" alt="">
        <img src="/media/mongo.png" alt="">
        <img src="/media/htmlcss.png" alt="">
        <img src="/media/node.png" alt="">
    </div>
</section>
<div class="scroll-area">
    <div class="top-wrap">
        <div class="go-top-btn-wraper">
            <div class="go-top go-top-button active">
                <i class="fas fa-arrow-up"></i>
                <i class="fas fa-arrow-up"></i>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script>

    var b01 = document.getElementById('akin_dev_box_c1');
    var b02 = document.getElementById('akin_dev_box_c2');
    var b03 = document.getElementById('akin_dev_box_c3');

    $('#p_change_1').on('click', function () {
        if ($("#p_change_2").hasClass("active")) {
            $("#p_change_2").removeClass('active');
            $('#p_change_1').addClass('active');
            b02.style.display = 'none';
            b02.style.opacity = 0;
            b01.style.display = 'flex';
            b01.style.opacity = 1;
            b01.style.animation = "scroll_up 2s ease";
        } else if ($("#p_change_3").hasClass("active")) {
            $("#p_change_3").removeClass('active');
            $('#p_change_1').addClass('active');
            b03.style.display = 'none';
            b03.style.opacity = 0;
            b01.style.display = 'flex';
            b01.style.opacity = 1;
            b01.style.animation = "scroll_up 2s ease";
        }
    });
    $('#p_change_2').on('click', function () {
        if ($("#p_change_1").hasClass("active")) {
            $("#p_change_1").removeClass('active');
            $('#p_change_2').addClass('active');
            b01.style.display = 'none';
            b01.style.opacity = 0;
            b02.style.display = 'flex';
            b02.style.opacity = 1;
            b02.style.animation = "scroll_up 2s ease";
        } else if ($("#p_change_3").hasClass("active")) {
            $("#p_change_3").removeClass('active');
            $('#p_change_2').addClass('active');
            b03.style.display = 'none';
            b03.style.opacity = 0;
            b02.style.display = 'flex';
            b02.style.opacity = 1;
            b02.style.animation = "scroll_up 2s ease";
        }

    });
    $('#p_change_3').on('click', function () {
        if ($("#p_change_1").hasClass("active")) {
            $("#p_change_1").removeClass('active');
            $('#p_change_3').addClass('active');
            b01.style.display = 'none';
            b01.style.opacity = 0;
            b03.style.display = 'flex';
            b03.style.opacity = 1;
            b03.style.animation = "scroll_up 2s ease";
        } else if ($("#p_change_2").hasClass("active")) {
            $("#p_change_2").removeClass('active');
            $('#p_change_3').addClass('active');
            b02.style.display = 'none';
            b02.style.opacity = 0;
            b03.style.display = 'flex';
            b03.style.opacity = 1;
            b03.style.animation = "scroll_up 2s ease";
        }

    });
</script>